<!--
Title: Point Claim Console
Used In File(s): \code\modules\mining\laborcamp\laborstacker.dm
-->

<style>
	.statusLabel {
		width: 200px;
	}

	.pointsValue {
		float: left;
		margin-right: 10px;
	}

	.centerButton {
		float: none;
	}
</style>

<h1>Количество руды</h1>
<div class='statusDisplay'>
  	{{for data.ores}}
	  	<div class="line">
			<div class='statusLabel'>
				{{:value.ore}}:
			</div>
			<div class='statusValue'>
				{{:value.value}}
			</div>
		</div>
    {{/for}}
</div>

<h1>Очки</h1>
<div class='statusDisplay'>
	<div class="line">
		<div class='statusLabel'>
			ID:
		</div>
		<div class='statusValue'>
			{{:helper.link(data.id ? data.id_name : '-------------', null, { 'handle_id' : 1 })}}
		</div>
	</div>
	{{if data.id}}
		<div class="line">
			<div class='statusLabel'>
				Очков собрано:
			</div>
			<div class='statusValue'>
				{{:data.points}}
		</div>
		</div>
			<div class="line">
			<div class='statusLabel'>
				Цель:
			</div>
			<div class='statusValue'>
				{{:data.goal}}
			</div>
		</div>
			<div class="line">
			<div class='statusLabel'>
				Свободные очки:
			</div>
			<div class='statusValue'>
				<div class="pointsValue">{{:data.unclaimed_points}}</div>
				{{:helper.link('Присвоить очки', null, { 'claim_points' : 1 }, data.unclaimed_points ? null : 'disabled')}}
			</div>
		</div>
	{{/if}}
</div>

<div class='statusDisplay'>
		{{:helper.link('Отправить шаттл', null, { 'move_shuttle' : 1 }, data.can_go_home ? null : 'disabled', 'link centerButton')}}
</div>
