<i>Приветствуем в утилите конфигурации компьютера. Если у Вас возникли какие-либо вопросы по вашему устройству, пожалуйста, проконсультируйтесь с вашим системным администратором.</i><hr>
<div class='statusDisplay'>
	<h3>Источник питания</h3>
	{{if data.battery}}
		<div class='item'>
			<div class='itemLabel'>Статус аккумулятора</div>
			<div class='itemContent'>Активный</div>
		</div>
		<div class='item'>
			<div class='itemLabel'>Ёмкость аккумулятора</div>
			<div class='itemContent'>{{:data.battery.max}}</div>
		</div>
		<div class='item'>
			<div class='itemLabel'>ETA</div>
			<div class='itemContent'>{{:data.eta.hours ? helper.smoothRound(data.eta.hours) + "h " : ""}}{{:data.eta.minutes ? helper.smoothRound(data.eta.minutes) + "m " : ""}}{{:helper.smoothRound(data.eta.seconds)}}s</div>
		</div>
		<div class='item'>
			<div class='itemLabel'>Заряд аккумулятора</div>
			{{:helper.displayBar(data.battery.charge, 0, data.battery.max, (data.battery.charge > data.battery.max/2) ? 'good' : (data.battery.charge > data.battery.max/4) ? 'average' : 'bad')}}
			<div class="itemContent" style="width: 60px">
				{{:helper.smoothRound(data.battery.charge, 1)}}/{{:data.battery.max}}
			</div>
		</div>
	{{else}}
		<div class='item'>
			<div class='itemLabel'>Статус аккумулятора</div>
			<div class='itemContent'>Не доступно</div>
		</div>
	{{/if}}

	<div class='item'>
		<div class='itemLabel'>Энергопотребление</div>
		<div class='itemContent'>{{:data.power_usage}}W</div>
	</div>
</div>

<div class='statusDisplay'>
	<h3>Файловая система</h3>
	<div class='item'>
		<div class='itemLabel'>Использованный объём</div>
		{{:helper.displayBar(data.disk_used, 0, data.disk_size, (data.disk_used > data.disk_size*0.75) ? 'bad' : (data.disk_used > data.disk_size/2) ? 'average' : 'good')}}
		<div class="itemContent" style="width: 60px">
			{{:helper.smoothRound(data.disk_used, 1)}}/{{:data.disk_size}}ГК
		</div>
	</div>
</div>

<div class='statusDisplay'>
	<h3>Компьютерные комплектующие</h3>
	{{for data.hardware}}
		<h4>{{:value.name}}</h4>
		<i>{{:value.desc}}</i><br>
		<div class='item'>
			<div class='itemLabel'>Состояние</div>
			<div class='itemContent'>{{:value.enabled ? "Включено" : "Отключено"}}</div>
		</div>

		<div class='item'>
			<div class='itemLabel'>Энергопотребление</div>
			<div class='itemContent'>{{:value.powerusage}}Вт</div>
		</div>

		{{if !value.critical}}
			<div class='item'>
				<div class='itemLabel'>Переключатель</div>
				<div class='itemContent'>{{:helper.link(value.enabled ? 'Вкл' : 'Выкл', value.enabled ? 'power-off' : 'close', {'action' : 'PC_toggle_component', 'name' : value.name})}}</div>
			</div>
		{{/if}}
		<br><hr>
	{{/for}}
</div>
