<h2>Реле</h2>
{{if data.dos_crashed}}
	<h2>СЕТЕВЫЕ БУФЕРЫ ПЕРЕГРУЖЕНЫ</h2>
	<h3>Режим восстановления от перегрузки</h3>
	<i>Данная система испытывает временное отключение из-за переполнения буферов трафика. Пока буферизованный трафик не будет обработан, все дальнейшие запросы будут отброшены. Частые появления этой ошибки могут указывать на недостаточную аппаратную емкость вашей сети. Пожалуйста, свяжитесь с вашим отделом сетевого планирования для получения инструкций о том, как решить эту проблему.</i>
	<h3>АДМИНИСТРАТИВНЫе ПЕРЕОПРЕДЕЛЕНИЯ</h3>
	<b> ВНИМАНИЕ: Может произойти потеря данных</b>
	{{:helper.link('Очистка буферизованного трафика', 'signal', {'action' : 'restart'})}}
{{else}}
	<div class='item'>
		<div class='itemLabel'>Статус реле</div>
		<div class='itemContent'>{{:helper.link(data.enabled ? "ВКЛЮЧЕНО" : "ОТКЛЮЧЕНО", 'power-off', {'action' : 'toggle'})}}</div>
	</div>

	<div class='item'>
		<div class='itemLabel'>Статус сетевого буфера</div>
		<div class='itemContent'>{{:data.dos_overload}}/{{:data.dos_capacity}} ГК</div>
	</div>
{{/if}}
