{{if data.error}}
	<div class='item'>
		<h2>Возникла ошибка во время операции...</h2>
		<b>Дополнительная информация: </b>{{:data.error}}<br>
		{{:helper.link('Очистить', null, {'action' : 'PRG_reset'})}}
	</div>
{{else data.downloading}}
	<h2>Выполняется скачивание...</h2>
	<div class='item'>
		<div class="itemLabel">Скачиваемый файл: </div>
		<div class="itemContent">{{:data.download_name}}</div>
	</div>
	<div class='item'>
		<div class="itemLabel">Прогресс скачивания: </div>
		<div class="itemContent">{{:helper.smoothRound(data.download_progress)}}/{{:data.download_size}}ГК</div>
	</div>
	<div class='item'>
		<div class="itemLabel">Скорость передачи: </div>
		<div class="itemContent">{{:data.download_netspeed}}ГК/с</div>
	</div>
	<div class='item'>
		<div class="itemLabel">Действия с файлом: </div>
		<div class="itemContent">{{:helper.link('Отменить загрузку', 'arrow-left', {'action' : 'PRG_reset'})}}</div>
	</div>
{{else data.uploading}}
	<h2>Сервер запущен</h2>
	<div class='item'>
		<div class="itemLabel">Подключенные пользователи: </div>
		<div class="itemContent">{{:data.upload_clients}}</div>
	</div>
	<div class='item'>
		<div class="itemLabel">Предоставленный файл: </div>
		<div class="itemContent">{{:data.upload_filename}}</div>
	</div>
	<div class='item'>
		<div class="itemLabel">Пароль сервера: </div>
		<div class="itemContent">{{if data.upload_haspassword}}ВКЛЮЧЕН{{else}}ОТКЛЮЧЕН{{/if}}</div>
	</div>
	<div class='item'>
		<div class="itemLabel">Управление: </div>
		<div class="itemContent">
			{{:helper.link('Установить пароль', 'key', {'action' : 'PRG_setpassword'})}}
			{{:helper.link('Покинуть сервер', 'arrow-left', {'action' : 'PRG_reset'})}}
		</div>
	</div>
{{else data.upload_filelist}}
	<h2>Сервер передачи файлов готов. Выберите файл для загрузки:</h2>
	<table>
	<tr><th>Название файла<th>Размер файла<th>Действия с файлом
	{{for data.upload_filelist}}
		<tr><td>{{:value.filename}}
		<td>{{:value.size}}ГК
		<td>{{:helper.link('Загрузить', 'upload', {'action' : 'PRG_uploadfile', 'id' : value.uid})}}
	{{/for}}
	</table>
	<hr>
	{{:helper.link('Установить пароль', 'key', {'action' : 'PRG_setpassword'})}}
	{{:helper.link('Вернуться', 'arrow-left', {'action' : 'PRG_reset'})}}
{{else}}
	<h2>Доступные файлы:</h2>
	<table><tr><th>UID Сервера<th>Название файла<th>Размер файла<th>Защита паролем<th>Действия с файлом
		{{for data.servers}}
			<tr><td>{{:value.uid}}
			<td>{{:value.filename}}
			<td>{{:value.size}}ГК
			{{if value.haspassword}}
				<td>Включен
			{{else}}
				<td>Отключен
			{{/if}}

			<td>{{:helper.link('Скачать', 'download', {'action' : 'PRG_downloadfile', 'id' : value.uid})}}
		{{/for}}
	</table>
	<hr>
	{{:helper.link('Отправить файл', 'upload', {'action' : 'PRG_uploadmenu'})}}
{{/if}}
