<h1>БЕСПРОВОДНОЕ ПОДКЛЮЧЕНИЕ</h1>
<div class="item">
	<div class="itemLabelWide">
		Активные NTNet реле:
	</div>
	<div class="itemContentNarrow">
		<b>{{:data.ntnetrelays}}</b>
	</div>
	{{if data.ntnetrelays}}
		<div class='item'>
			<div class="itemLabelWide">
				Статус системы:
			</div>
			<div class="itemContentNarrow">
				<b>{{:data.ntnetstatus ? "ВКЛЮЧЕНА" : "ОТКЛЮЧЕНА"}}</b>
			</div>
		</div>
		<div class='item'>
			<div class="itemLabelWide">
				Управление:
			</div>
			<div class="itemContentNarrow">
				{{:helper.link('ПЕРЕКЛЮЧИТЬ', null, {'action' : 'toggleWireless'})}}
			</div>
		</div>
		<i>Внимание: Отключение беспроводных трансмиттеров во время использования беспроводного устройста может помешать их реактивации!</i>
	{{else}}
		<br><p>Беспроводное покрытие недоступно, нет подключенных реле.</p>
	{{/if}}
</div>

<h1>КОНФИГУРАЦИЯ ФАЙРВОЛА</h1>
<div class="statusDisplay" style="overflow: auto;">
	<table style='width: 100%;'>
		<tr>
			<th>ПРОТОКОЛ</th>
			<th>СТАТУС</th>
			<th>УПРАВЛЕНИЕ</th>
		</tr>
		<tr>
			<td>Загрузка програм</td>
			<td><center>{{:data.config_softwaredownload ? 'ВКЛЮЧЕНА' : 'ОТКЛЮЧЕНА'}}</td>
			<td><div style="text-align: center;"><div style="display: inline-block;">{{:helper.link('ПЕРЕКЛЮЧИТЬ', null, {'action' : 'toggle_function', 'id' : 1})}}</div></div></td>
		</tr>
		<tr>
			<td>P2P Трафик</td>
			<td><center>{{:data.config_peertopeer ? 'ВКЛЮЧЕН' : 'ОТКЛЮЧЕН'}}</td>
			<td><div style="text-align: center;"><div style="display: inline-block;">{{:helper.link('ПЕРЕКЛЮЧИТЬ', null, {'action' : 'toggle_function', 'id' : 2})}}</div></div></td>
		</tr>
		<tr>
			<td>Коммуникационные системы</td>
			<td><center>{{:data.config_communication ? 'ВКЛЮЧЕНЫ' : 'ОТКЛЮЧЕНЫ'}}</td>
			<td><div style="text-align: center;"><div style="display: inline-block;">{{:helper.link('ПЕРЕКЛЮЧИТЬ', null, {'action' : 'toggle_function', 'id' : 3})}}</div></div></td>
		</tr>
		<tr>
			<td>Удалённое управление системой</td>
			<td><center>{{:data.config_systemcontrol ? 'ВКЛЮЧЕНО' : 'ОТКЛЮЧЕНО'}}</td>
			<td><div style="text-align: center;"><div style="display: inline-block;">{{:helper.link('ПЕРЕКЛЮЧИТЬ', null, {'action' : 'toggle_function', 'id' : 4})}}</div></div></td>
		</tr>
	</table>
</div>

<h1>СИСТЕМЫ БЕЗОПАСНОСТИ</h1>
{{if data.idsalarm}}
    <div class="statusDisplay" style="overflow: auto;">
		<div class="item">
			<div class="itemContent" style="width: 100%;">
				<h1>ОБНАРУЖЕНА СЕТЕВАЯ АТАКА</h1>
				<i>В сети обнаружена ненормальная активность. Пожалуйста, проверьте системные логи для получения дополнительной информации.</i>
			</div>
		</div>
    </div>
{{/if}}
<div class="item">
	<div class="itemLabelWide">Система обнаружения атак:</div>
	<div class="itemContentNarrow"><b>{{:data.idsstatus ? 'ВКЛЮЧЕНА' : 'ОТКЛЮЧЕНА'}}</b></div>
</div>
<div class="item">
	<div class="itemLabelWide">Максимальное количество логов:</div>
	<div class="itemContentNarrow"><b>{{:data.ntnetmaxlogs}}</b></div>
</div>
<div class="item">
	<div class="itemLabelWide">Управление:</div>
	<div class="itemContentNarrow">
		<table>
			<tr><td>{{:helper.link('СБРОСИТЬ ID', null, {'action' : 'resetIDS'})}}
			<tr><td>{{:helper.link('ПЕРЕКЛЮЧИТЬ ID', null, {'action' : 'toggleIDS'})}}
			<tr><td>{{:helper.link('УСТАНОВИТЬ ЛИМИТ ЛОГОВ', null, {'action' : 'updatemaxlogs'})}}
			<tr><td>{{:helper.link('ОЧИСТИТЬ ЛОГИ', null, {'action' : 'purgelogs'})}}
		</table>
	</div>
</div>
<b>СИСТЕМНЫЕ ЛОГИ</b>
<div class="statusDisplay" style="overflow: auto;">
	<div class="item">
		<div class="itemContent" style="width: 100%;">
			{{for data.ntnetlogs}}
				{{:value.entry}}<br>
			{{/for}}
		</div>
	</div>
</div>
