{{if data.adminmode}}
	<h1>РЕЖИМ АДМИНИСТРАТОРА</h1>
{{/if}}

{{if data.title}}
	<div class='item'>
		<div class="itemLabel">Текущий канал:</div>
		<div class="itemContent">{{:data.title}}</div>
	</div>
	<div class='item'>
		<div class="itemLabel">Доступ администратора:</div>
		<div class="itemContent"><b>{{if data.is_operator}}Включен{{else}}Отключен{{/if}}</b></div>
	</div>
	<div class='item'>
		<div class="itemLabel">Управление:</div>
		<div class="itemContent">
			<table>
				<tr><td>{{:helper.link('Отправить сообщение', 'comment-o', {'action' : 'PRG_speak'})}}
				<tr><td>{{:helper.link('Сменить ник', 'pencil', {'action' : 'PRG_changename'})}}
				<tr><td>{{:helper.link('Переключить режим администратора', 'lock', {'action' : 'PRG_toggleadmin'})}}
				<tr><td>{{:helper.link('Покинуть канал', 'sign-out', {'action' : 'PRG_leavechannel'})}}
				<tr><td>{{:helper.link('Сохранить лог в локальный диск', 'download', {'action' : 'PRG_savelog'})}}
				{{if data.is_operator}}
					<tr><td>{{:helper.link('Переименовать канал', 'pencil', {'action' : 'PRG_renamechannel'})}}
					<tr><td>{{:helper.link('Установить пароль', 'key', {'action' : 'PRG_setpassword'})}}
					<tr><td>{{:helper.link('Удалить канал', 'trash', {'action' : 'PRG_deletechannel'})}}
				{{/if}}
			</table>
		</div>
	</div>
	<b>Окно чата</b>
	<div class="statusDisplay" style="overflow: auto;">
		<div class="item">
			<div class="itemContent" style="width: 100%;">
				{{for data.messages}}
					{{:value.msg}}<br>
				{{/for}}
			</div>
		</div>
	</div>
	<b>Подключенные пользователи</b><br>
	{{for data.clients}}
		{{:value.name}}<br>
	{{/for}}
{{else}}
	<b>Управление:</b>
	<table>
		<tr><td>{{:helper.link('Сменить ник', 'pencil', {'action' : 'PRG_changename'})}}
		<tr><td>{{:helper.link('Новый канал', 'plus', {'action' : 'PRG_newchannel'})}}
		<tr><td>{{:helper.link('Переключить режим администратора', 'lock', {'action' : 'PRG_toggleadmin'})}}
	</table>
	<b>Доступные каналы:</b>
	<table>
		{{for data.all_channels}}
			<tr><td>{{:helper.link(value.chan, 'sign-in', {'action' : 'PRG_joinchannel', 'id' : value.id})}}<br>
		{{/for}}
	</table>
{{/if}}
