{{:helper.syndicateMode()}}
{{if data.error}}
	##СИСТЕМНАЯ ОШИБКА: {{:data.error}}{{:helper.link('СБРОСИТЬ', null, {'action' : 'PRG_reset'})}}
{{else data.target}}
	##Генератор DoS-трафика активен. Tx: {{:data.speed}}ГК/c<br>
	{{for data.dos_strings}}
		{{:value.nums}}<br>
	{{/for}}
	{{:helper.link('ОТМЕНИТЬ', 'ban', {'action' : 'PRG_reset'})}}
{{else}}
	##Генератор DoS-трафика готов. Выберите целевое устройство.<br>
	<div class='item'>
		<div class="itemLabel">ID целевого устройства:</div>
		<div class="itemContent">{{if data.focus}}{{:data.focus}}{{else}}Нет{{/if}}</div>
	</div>
	<div class='item'>
		{{:helper.link('ЗАПУСТИТЬ', 'play', {'action' : 'PRG_execute'})}}<div style="clear:both"></div>
	</div>
	Устройства обнаруженные в сети:<br>
	<table>
		{{for data.relays}}
			<tr><td>{{:helper.link(value.id, null, {'action' : 'PRG_target_relay', 'targid' : value.id})}}
		{{/for}}
	</table>
{{/if}}
