<i>Приветствуем в утилите загрузки программ. Пожалуйста, выберите какую программу хотите скачать.</i><hr>
{{if data.error}}
	<h3>Ошибка загрузки</h3>
	<div class='item'>
		<div class='itemLabel'>Информация</div>
		<div class='itemContent'>{{:data.error}}</div>
	</div>
	<div class='item'>
		<div class='itemLabel'>Откатить изменения</div>
		<div class='itemContent'>{{:helper.link('ОТКАТИТЬ', 'times', {'action' : 'PRG_reseterror'})}}</div>
	</div>
{{else}}
	{{if data.downloadname}}
		<h3>Выполняется загрузка</h3>
		<div class='statusDisplay'>
			<i>Пожалуйста, подождите...</i>
			<div class='item'>
				<div class='itemLabel'>Название файла</div>
				<div class='itemContent'>{{:data.downloadname}}</div>
			</div>
			<div class='item'>
				<div class='itemLabel'>Описание файла</div>
				<div class='itemContent'>{{:data.downloaddesc}}</div>
			</div>
			<div class='item'>
				<div class='itemLabel'>Размер файла</div>
				<div class='itemContent'>{{:helper.smoothRound(data.downloadcompletion, 1)}}/{{:data.downloadsize}}ГК</div>
			</div>
			<div class='item'>
				<div class='itemLabel'>Скорость передачи</div>
				<div class='itemContent'>{{:data.downloadspeed}} ГК/с</div>
			</div>
			<div class='item'>
				<div class='itemLabel'>Прогресс загрузки</div>
				{{:helper.displayBar(data.downloadcompletion, 0, data.downloadsize, (data.downloadcompletion > data.downloadsize/2) ? 'good' : (data.downloadcompletion > data.downloadsize/4) ? 'average' : 'bad')}}
				<div class="itemContent" style="width: 60px">
					{{:helper.smoothRound(data.downloadcompletion, 1)}}/{{:data.downloadsize}}ГК
				</div>
			</div>
		</div>
	{{else}}
		<h3>Основной репозиторий программ</h3>
		<div class='statusDisplay'>
			<div class='item'>
				<div class='itemLabel'>Жёсткий диск</div>
				{{:helper.displayBar(data.disk_used, 0, data.disk_size, (data.disk_used > data.disk_size/2) ? 'bad' : (data.disk_used > data.disk_size/4) ? 'average' : 'good')}}
				<div class="itemContent" style="width: 60px">
					{{:helper.smoothRound(data.disk_used, 1)}}/{{:data.disk_size}}ГК
				</div>
			</div>
			{{for data.downloadable_programs}}
				<hr>
				<div class='item'>
					<div class='itemLabel'>Название файла</div>
					<div class='itemContent'>{{:value.filename}} ({{:value.size}} ГК)</div>
				</div>
				<div class='item'>
					<div class='itemLabel'>Название программы</div>
					<div class='itemContent'>{{:value.filedesc}}</div>
				</div>
				<div class='item'>
					<div class='itemLabel'>Описание</div>
					<div class='itemContent'>{{:value.fileinfo}}</div>
				</div>
				<div class='item'>
					<div class='itemLabel'>Совместимость</div>
					<div class='itemContent'>{{:value.compatibility}}</div>
				</div>
				<div class='item'>
					<div class='itemLabel'>Действия с файлом</div>
					<div class='itemContent'>{{:helper.link('СКАЧАТЬ', 'download', {'action' : 'PRG_downloadfile', 'filename' : value.filename}, value.status)}}</div>
				</div>
			{{/for}}
		</div>
		{{if data.hackedavailable}}
			<h3>НЕИЗВЕСТНЫЙ репозиторий программ</h3>
			<div class='statusDisplay'>
				<i>Пожалуйста, учтите, что Nanotrase не рекомендует загружать программы с неофициальных серверов.</i>
				{{for data.hacked_programs}}
					<hr>
					<div class='item'>
						<div class='itemLabel'>Название файла</div>
						<div class='itemContent'>{{:value.filename}} ({{:value.size}} ГК)</div>
					</div>
					<div class='item'>
						<div class='itemLabel'>Название программы</div>
						<div class='itemContent'>{{:value.filedesc}}</div>
					</div>
					<div class='item'>
						<div class='itemLabel'>Описание</div>
						<div class='itemContent'>{{:value.fileinfo}}</div>
					</div>
					<div class='item'>
						<div class='itemLabel'>Действия с файлом</div>
						<div class='itemContent'>{{:helper.link('СКАЧАТЬ', 'download', {'action' : 'PRG_downloadfile', 'filename' : value.filename})}}</div>
					</div>
				{{/for}}
			</div>
		{{/if}}
	{{/if}}
{{/if}}
<hr><i>NTOS v2.0.4b © Nanotrasen 2557 - 2559</i>
