<div class="item">
	<div class="itemContent" style="padding: 5px">
		{{:helper.link(data.power ? 'Вкл' : 'Выкл', null, {'command' : 'power'}, data.config ? 'disabled' : null)}}
	</div>
	<div class="itemContent" style="padding: 5px">
		{{:helper.link('Настроить', null, {'command' : 'configure'}, null, data.config ? 'selected' : null)}}
	</div>

    {{if data.config}}

        <div style="width: 315px; text-align: center">
            <div style="float: left">
                <div class="white" style="height: 26">Порт</div>
                {{for data.ports}}
                    <div class="average" style="height: 26">{{:value.dir}} порт</div>
                {{/for}}
            </div>
            <div style="float: left; margin-left: 10">
                <div class="white" style="height: 26">Вход</div>
                {{for data.ports}}
                    <div style="height: 26">
                        {{:helper.link(' ', null, {'command' : 'switch_mode', 'mode' : 'in', 'dir' : value.dir}, null, value.input ? 'selected' : null)}}
                    </div>
                {{/for}}
            </div>
            <div style="float: left; margin-left: 10">
                <div class="white" style="height: 26">Выход</div>
                {{for data.ports}}
                    <div style="height: 26">
                        {{:helper.link(' ', null, {'command' : 'switch_mode', 'mode' : 'out', 'dir' : value.dir}, null, value.output ? 'selected' : null)}}
                    </div>
                {{/for}}
            </div>
            <div style="float: left; margin-left: 10">
                <div class="white" style="height: 26">Фильтр</div>
                {{for data.ports}}
                    <div style="height: 26">
                        {{:helper.link(value.f_type ? value.f_type : 'Нет', null, {'command' : 'switch_filter', 'mode' : value.f_type, 'dir' : value.dir}, value.filter ? null : 'disabled', value.f_type ? 'selected' : null)}}
                    </div>
                {{/for}}
            </div>
        </div>

        <div class="itemContent" style="padding: 5px">
            Установить лимит скорости потока: {{:(data.set_flow_rate/10)}} Л/с
        </div>
        <div class="itemContent" style="padding: 5px">
            {{:helper.link('Установить лимит', null, {'command' : 'set_flow_rate'})}}
        </div>

    {{else}}

        <div style="width: 315px; text-align: center">
            <div style="float: left">
                <div class="white" style="height: 26">Порт</div>
                {{for data.ports}}
                    <div class="average" style="height: 26">{{:value.dir}} порт</div>
                {{/for}}
            </div>
            <div style="float: left; margin-left: 10">
                <div class="white" style="height: 26">Режим</div>
                {{for data.ports}}
                    <div style="height: 26">
                            {{if value.input}}
                                Вход
                            {{else value.output}}
                                Выход
                            {{else value.f_type}}
                                {{:value.f_type}}
                            {{else}}
                                Отключен
                            {{/if}}
                    </div>
                {{/for}}
            </div>
        </div>

        <div class="itemContent" style="padding: 5px">
            Установить лимит скорости потока: {{:(data.set_flow_rate/10)}} Л/с
        </div>

        <div class="itemContent" style="padding: 5px">
            Скорость потока: {{:(data.last_flow_rate/10)}} Л/с
        </div>
    {{/if}}
</div>
