<!--
Title: Supply Console UI
Used In File(s): \code\game\supplyshuttle.dm
-->

<style type='text/css'>
	.category {
		width: 150px;
	}

	#misc {
		float: left;
		width: 350px;
	}

	.supplycrate .link {
		width: 220px;
	}
</style>
<div class="item">
	<div class="itemLabel">
		Очки снабжения:
	</div>
	<div class="itemContent">
		{{:data.points}}
	</div>
</div>
<div class="item" style="margin-bottom: 10px;">
	<div class="itemLabel">
		Статус шаттла:
	</div>
	<div class="itemContent">
		{{if !data.moving && !data.at_station}}
			Пристыкован вне станции.
		{{else !data.moving && data.at_station}}
			Пристыкован к станции.
		{{else data.moving}}
			Шаттл в пути (ETA: {{:data.timeleft}} минут{{if data.timeleft != 1}}с{{/if}}).
		{{/if}}
	</div>
</div>
<div style="float: right; width: 70%;">
	<div class="itemLabel">
		Ящики снабжения
	</div>
	<div class="itemContentWide" style="width: 95%;">
		<div class="statusDisplay">
			<div class="line" style="overflow-y: auto; overflow-x: hidden; scrollbar-base-color: #336699; scrollbar-arrow-color: #ffffff; height: 200px">
				{{if !data.contents}}
					{{for data.supply_packs}}
						<div class="line">
							<div class="statusValue">
								<div class="supplycrate">{{:helper.link(value.name, null, value.command1)}}</div>
								{{:helper.link('#', null, value.command2, null)}}{{:helper.link('С', null, value.command3, null)}} <div style="float: right; margin-right: 20px;">{{:value.cost}} очков</div>
							</div>
						</div>
					{{/for}}
				{{else}}
					<div class="item">
						<b>Содержимое {{:data.contents_name}}</b>
					</div>
					{{:data.contents}}
					{{:helper.link('Назад', 'arrow-left', {'contents' : 1})}}
				{{/if}}
			</div>
		</div>
	</div>
</div>
<div style="float: left; width: 30%; margin-bottom: 10px;">
	<div class="itemLabel">
		Категории
	</div>
	{{for data.categories}}
		<div class="line">
			{{:helper.link(value.name, 'gear', {'last_viewed_group':value.category}, (data.last_viewed_group==value.category) ? 'linkOn' : '', 'category')}}
		</div>
	{{/for}}
</div>
<div class="item">
	<div class="itemLabel">
		Заказы на поставку
	</div>
	<div class="itemContentWide">
		<div class="statusDisplay">
			<div class="line" style="overflow-y: auto; overflow-x: hidden; scrollbar-base-color: #336699; scrollbar-arrow-color: #ffffff; height: 140px;">
				<u><b>Запросы</b></u>
				<br>
				{{for data.requests}}
					<div class="line">
						#{{:value.ordernum}} - {{:value.supply_type}} для {{:value.orderedby}}
						{{if value.owned == 1}}
							{{:helper.link('ОТМЕНИТЬ', null, value.command1, null)}}
						{{/if}}
					</div>
				{{empty}}
					Нет активных запросов.
				{{/for}}
				<br>
				<u><b>Заказы</b></u>
				<br>
				{{for data.orders}}
					<div class="line">
						#{{:value.ordernum}} - {{:value.supply_type}} для {{:value.orderedby}}
					</div>
				{{empty}}
					Нет подтверждённых заказов.
				{{/for}}
			</div>
		</div>
	</div>
</div>
