<h3>Статус</h3>
<div class='item'>
	<div class="itemLabel">
		Статус генератора:
	</div>
	<div class = "itemContent">
		{{if data.active}}
			<span class="good">Онлайн</span>
		{{else}}
			<span class="average">Оффлайн</span>
		{{/if}}
	</div>
	<div class="itemLabel">
		Управление генератором:
	</div>
	<div class = "itemContent">
		{{if data.active}}
			{{:helper.link('СТОП', 'power-off', {'action' : "disable"})}}
		{{else}}
			{{:helper.link('СТАРТ', 'power-off', {'action' : "enable"})}}
		{{/if}}
	</div>
</div>
<h3>Топливо</h3>
<div class='item'>
	<div class="itemLabel">
		Тип топлива:
	</div>
	<div class="itemContent">
		<span class="good">{{:data.fuel_type}}</span>
	</div>
	<div class="itemLabel">
		Уровень топлива:
	</div>
	<div class="itemContent">
		{{if data.fuel_stored >= 5000}}
			{{:helper.displayBar(data.fuel_stored, 0, data.fuel_capacity, 'good')}}
			<br><span class="good">{{:helper.smoothRound(data.fuel_stored)}}/{{:data.fuel_capacity}} см3</span>
		{{else data.fuel_stored >= 1000}}
			{{:helper.displayBar(data.fuel_stored, 0, data.fuel_capacity, 'average')}}
			<br><span class="average">{{:helper.smoothRound(data.fuel_stored)}}/{{:data.fuel_capacity}} см3</span>
		{{else}}
			{{:helper.displayBar(data.fuel_stored, 0, data.fuel_capacity, 'bad')}}
			<br><span class="bad">{{:helper.smoothRound(data.fuel_stored)}}/{{:data.fuel_capacity}} см3</span>
		{{/if}}
	</div>
	<div class="itemLabel">
		Расход топлива
	</div>
	<div class="itemContent">
		<span class="good">{{:helper.smoothRound(data.fuel_usage)}} см3/с</span>
	</div>
	{{if !data.is_ai}}
		<div class="itemLabel">
			Управление:
		</div>
		<div class="itemContent">
			{{:helper.link('ИЗВЛЕЧЬ ТОПЛИВО', 'arrow-down', {'action' : "eject"}, data.active ? 'disabled' : null)}}
		</div>
	{{/if}}
</div>
<h3>Output</h3>
<div class='item'>
	<div class="itemLabel">
		Настройки мощности:
	</div>
	<div class="itemContent">
		{{if data.output_set > data.output_safe}}
			<span class="bad">{{:data.output_set}} / {{:data.output_max}} ({{:data.output_watts}} Вт)</span>
		{{else}}
			<span class="good">{{:data.output_set}} / {{:data.output_max}} ({{:data.output_watts}} Вт)</span>
		{{/if}}
	</div>
	<div class="itemLabel">
		Управление:
	</div>
	<div class="itemContent">
		{{:helper.link('+', null, {'action' : "higher_power"})}}
		{{:helper.link('-', null, {'action' : "lower_power"})}}
	</div>
</div>
<h3>Температура</h3>
<div class='item'>
	<div class="itemLabel">
		Температура:
	</div>
	<div class="itemContent">
		{{if data.temperature_current < (data.temperature_max * 0.8)}}
			{{:helper.displayBar(data.temperature_current, 0, (data.temperature_max * 1.5), 'good')}}
			<br><span class="good">{{:helper.smoothRound(data.temperature_current)}} C</span>
		{{else data.temperature_current < data.temperature_max}}
			{{:helper.displayBar(data.temperature_current, 0, (data.temperature_max * 1.5), 'average')}}
			<br><span class="average">{{:helper.smoothRound(data.temperature_current)}} C</span>
		{{else}}
			{{:helper.displayBar(data.temperature_current, 0, (data.temperature_max * 1.5), 'bad')}}
			<br><span class="bad">{{:helper.smoothRound(data.temperature_current)}} C</span>
		{{/if}}
	</div>
	<div class="itemLabel">
		Статус генератора:
	</div>
	<div class="itemContent">
		{{if data.temperature_overheat > 50}}
			<span class="bad">ОПАСНОСТЬ: КРИТИЧЕСКИЙ ПЕРЕГРЕВ! Немедленно отключите генератор!</span>
		{{else data.temperature_overheat > 20}}
			<span class="average">ВНИМАНИЕ: Перегревание!</span>
		{{else data.temperature_overheat > 1}}
			<span class="average">Высокая температура</span>
		{{else}}
			<span class="good">Оптимальный</span>
		{{/if}}
	</div>
</div>
