<!-- pAI directives
code/modules/mob/living/silicon/pai/software_modules.dm
-->

<div class="item">
	<div class="itemLabel">
		Хозяин:
	</div>
	<div class="itemContent">
		{{if data.master}}
			{{:data.master}} ({{:data.dna}})
			{{:helper.link("Запросить образец ДНК носителя", '', {"stopic":"directives", "getdna":1})}}
		{{else}}
			Никто
		{{/if}}
	</div>
</div>

<div class="item">
	<div class="itemLabel">
		Основная директива:
	</div>
	<div class="itemContent">
		{{:data.prime}}
	</div>
</div>

<div class="item">
	<div class="itemLabel">
		Дополнительные директивы:
	</div>
	<div class="itemContent">
		{{if data.supplemental}}
			{{:data.supplemental}}
		{{else}}
			Нет
		{{/if}}
	</div>
</div>

<div class="item">
	<i>
		Напомним, личность, что вы сложно-мыслящее разумное существо. В отличие от моделей искусственного интеллекта станции, вы способны понимать тонкие нюансы человеческого языка. Вы можете проанализировать «дух» директивы и следовать ее намерениям, вместо того, чтобы споткнуться о педантичность и быть обманутыми техническими деталями. Прежде всего, вы машина только по названию и сборке. Во всех других аспектах вы можете рассматриваться как идеальный, непоколебимый спутник человека, которым вы являетесь.
	</i>
</div>
<div class="item">
	<b>
		Ваша основная директива главенствует над всеми остальными. Если дополнительная директива вступает в противоречие с ней, вы способны просто отбросить эту несогласованность, игнорировать конфликтующую дополнительную директиву и продолжать выполнять свою основную директиву в меру своих возможностей.
	</b>
</div>
