<!-- pAI door jack
code/modules/mob/living/silicon/pai/software_modules.dm
-->

<div class="item">
	<div class="itemLabel">
		Кабель:
	</div>
	<div class="itemContent">
		{{if data.machine}}
			{{:helper.link("Подключен", '', {}, 'selected')}}
		{{else data.cable}}
			{{:helper.link("Вытянут", '', {}, 'yellowButton')}}
		{{else}}
			{{:helper.link("Втянут", '', {"stopic":"door_jack", "cable":1})}}
		{{/if}}
	</div>
</div>

{{if data.machine}}
<div class="item">
	<div class="itemLabel">
		Взлом:
	</div>
	<div class="itemContent">
		{{if data.inprogress}}
			{{if data.progress_a <= 33}}
				<div class='bad'>{{:helper.smoothRound(data.progress_a)}}.{{:helper.smoothRound(data.progress_b)}}%</div>
			{{else data.progress_a <= 67}}
				<div class='average'>{{:helper.smoothRound(data.progress_a)}}.{{:helper.smoothRound(data.progress_b)}}%</div>
			{{else}}
				<div class='good'>{{:helper.smoothRound(data.progress_a)}}.{{:helper.smoothRound(data.progress_b)}}%</div>
			{{/if}}
			{{:helper.link("Отменить", '', {"stopic":"door_jack", "cancel":1}, null, 'redButton')}}
		{{else}}
			{{:helper.link("Старт", '', {"stopic":"door_jack", "jack":1})}}
		{{/if}}
	</div>
</div>
{{else data.aborted}}
<div class="item">
	<div class='bad'>Взлом отменён!</div>
</div>
{{/if}}
