<!-- pAI BioScan
code/modules/mob/living/silicon/pai/software_modules.dm
-->

{{if data.holder}}
	<div class="item">
		<div class="itemLabel">
			Результаты биосканирования {{:data.holder}} :
		</div>
		<div class="itemContent">
			Статус здоровья : 	{{:data.health}}
		</div>

		<div class="itemContent">
			Физические повреждения : 		{{:data.brute}}
		<div class="itemContent">
			Содержание кислорода : 	{{:data.oxy}}
		<div class="itemContent">
			Содержание токсинов : 	{{:data.tox}}
		</div>
		<div class="itemContent">
			Статус ожогов : 		{{:data.burn}}
		</div>
		<div class="itemContent">
			Температура пользователя :	{{:data.temp}}
		</div>
	</div>
{{else}}
	<span class="bad">Ошибка: биологический владелец не найден!</span>
{{/if}}
