{{if !data.records.powerconnected}}
	<div class="item">
		<div class="itemLabel">Выберите монитор питания:</div>
	</div>
	{{for data.records.powermonitors}}
		<div class="item">
			{{:helper.link(value.Name, 'exclamation-circle', {'choice' : "Power Select", 'target' : value.ref}, null, 'pdalink fixedLeftWidest')}}
		</div>
	{{/for}}
{{else}}
	<div class="item">
		<div class="itemLabel">
			<b>Суммарная мощность:</b>
		</div>
		<div class="itemContent">
			<span class="average">{{:data.records.poweravail}} Вт</span>
		</div>
	</div>
	<div class="item">
		<div class="itemLabel">
			<b>Суммарная нагрузка:</b>
		</div>
		<div class="itemContent">
			<span class="average">{{:data.records.powerload}} Вт</span>
		</div>
	</div>
	<div class="item">
		<div class="itemLabel">
			<b>Суммарный спрос:</b>
		</div>
		<div class="itemContent">
			<span class="average">{{:data.records.powerdemand}} Вт</span>
		</div>
	</div>
	<div class="item">
		<table class="curvedEdges" style="text-align: center;"><tbody>
			<tr><th>Зона</th><th>Оборуд.</th><th>Освещение</th><th>Окружен.</th><th>Аккум.</th><th>Нагрузка</th></tr>
			{{for data.records.apcs}}
				<tr><td style="text-align: left; font-weight: bold;">{{:value.Name}}</td>
					{{:helper.string('<td width="55px" bgcolor="{0}">{1}</td>', value.Equipment == "On" || value.Equipment == "AOn" ? '#4f7529' : '#8f1414', value.Equipment)}}
					{{:helper.string('<td width="55px" bgcolor="{0}">{1}</td>', value.Lights == "On" || value.Lights == "AOn" ? '#4f7529' : '#8f1414', value.Lights)}}
					{{:helper.string('<td width="55px" bgcolor="{0}">{1}</td>', value.Environment == "On" || value.Environment == "AOn" ? '#4f7529' : '#8f1414', value.Environment)}}
					{{:helper.string('<td style="text-align: center;" width="65px" bgcolor="{0}">{1}{2}</td>', value.CellStatus == "F" ? '#4f7529' : value.CellStatus == "C" ? '#cd6500' : '#8f1414', value.CellStatus == "M" ? 'Нет' : value.CellPct + '%', value.CellStatus == "M" ? '' : ' (' + value.CellStatus + ')')}}
					<td width="55px">{{:value.Load}}Вт</td>
				</tr>
			{{/for}}
		</tbody></table>
	</div>
{{/if}}
