<div class="item">
	<div class="itemLabelNarrow">
		Местоположение:
	</div>
	<div class="itemContent">
		<span class="average">
			{{if data.supply.shuttle_moving}}
				Движется в {{:data.supply.shuttle_loc}}
			{{else}}
				Шаттл в {{:data.supply.shuttle_loc}}
			{{/if}}
			<br>
			{{:data.supply.shuttle_time}}
		</span>
	</div>
</div>
<div class="statusDisplayRecords">
	<div class="item">
		<div class="itemContent" style="width: 100%;">
			<span class="good"><B>Текущие одобренные заказы</B></span><br>
			{{if data.supply.approved_count == 0}}
				<span class="average pdanote">Нет текущих одобренных заказов </span><br><br>
			{{else}}
				{{for data.supply.approved}}
					<span class="average">#{{:value.Number}} - {{:value.Name}} одобрен {{:value.OrderedBy}}<br>{{if value.Comment != ""}} {{:value.Comment}} <br>{{/if}}<br></span>
				{{/for}}
			{{/if}}
			<br><br>
			<span class="good"><B>Текущие запросы</B></span><br>
			{{if data.supply.requests_count == 0}}
					<span class="average pdanote">Нет текущих запросов</span><br><br>
			{{else}}
				{{for data.supply.requests}}
					<span class="average">#{{:value.Number}} - {{:value.Name}} запрошен {{:value.OrderedBy}}<br>{{if value.Comment != ""}} {{:value.Comment}} <br>{{/if}}<br></span>
				{{/for}}
			{{/if}}
		</div>
	</div>
</div>
