{{if !data.mulebot.active}}
	{{if data.mulebot.count == 0}}
		<H1><span class="bad">Боты не найдены.</span></H1>
	{{else}}
		<div class="item">
			Выберите мула:
		</div>
		<br>
		{{for data.mulebot.bots}}
			<div class="item">
				 {{:helper.link(value.Name, 'gear', {'radiomenu' : "1", 'op' : "control",'bot' : value.ref}, null, 'pdalink fixedLeftWidest')}} (Location: {{:value.Location}})
			</div>
		{{/for}}
	{{/if}}
	<br>
	{{:helper.link('Сканировать ботов','rss', {'radiomenu' : "1", 'op' : "scanbots"}, null, 'pdalink fixedLeftWidest')}}
{{else}}
	<H1><span class="average">{{:data.mulebot.active}}</span></H1>
	{{if data.mulebot.botstatus.mode == -1}}
		<H1><span class="bad">Ожидание ответа...</span></H1>
	{{else}}
		<H1><span class="good">Статус:</span></H1>
		<div class="item">
			<div class="itemLabel">
				<span class="good">Местоположение:</span>
			</div>
			<div class="itemContent">
				<span class="average">{{:data.mulebot.botstatus.loca}}</span>
			</div>
		</div>
		<div class="item">
			<div class="itemLabel">
				<span class="good">Режим:</span>
			</div>
			<div class="itemContent">
				<span class="average">
					{{if data.mulebot.botstatus.mode == 0}}
						Готов
					{{else data.mulebot.botstatus.mode == 1}}
						Загрузка/Разгрузка
					{{else data.mulebot.botstatus.mode == 2}}
						Навигация в место назначения
					{{else data.mulebot.botstatus.mode == 3}}
						Навигация домой
					{{else data.mulebot.botstatus.mode == 4}}
						Ожидания освобождения пути
					{{else data.mulebot.botstatus.mode == 5 || data.mulebot.botstatus.mode == 6}}
						Вычисление пути навигации
					{{else data.mulebot.botstatus.mode == 7}}
						Не удаётся определить место назначения
					{{/if}}
				</span>
			</div>
		</div>
		<div class="item">
			<div class="itemLabel">
				<span class="good">Текущая загрузка:</span>
			</div>
			<div class="itemContent">
				<span class="average">
					{{:helper.link(data.mulebot.botstatus.load == null ? 'Ничего (Разгрузить)' : data.mulebot.botstatus.load + ' (Разгрузить)', 'archive', {'radiomenu' : "1", 'op' : "unload"},data.mulebot.botstatus.load == null ? 'disabled' : null, 'pdalink fixedLeftWidest')}}
				</span>
			</div>
		</div>
		<div class="item">
			<div class="itemLabel">
				<span class="good">Питание:</span>
			</div>
			<div class="itemContent">
				<span class="average">
					{{:data.mulebot.botstatus.powr}}%
				</span>
			</div>
		</div>
		<div class="item">
			<div class="itemLabel">
				<span class="good">Место назначения:</span>
			</div>
			<div class="itemContent">
				{{:helper.link(data.mulebot.botstatus.dest == null || data.mulebot.botstatus.dest == "" ? 'None (Set)' : data.mulebot.botstatus.dest + ' (Set)', 'gear', {'radiomenu' : "1", 'op' : "setdest"}, null, 'pdalink fixedLeftWidest')}}
			</div>
		</div>
		<div class="item">
			<div class="itemLabel">
				<span class="good">Дом:</span>
			</div>
			<div class="itemContent">
				{{if data.mulebot.botstatus.home == null}} Отсутствует {{else}} {{:data.mulebot.botstatus.home}} {{/if}}
			</div>
		</div>
		<div class="item">
			<div class="itemLabel">
				<span class="good">Авто возврат:</span>
			</div>
			<div class="itemContent">
			   {{:helper.link(data.mulebot.botstatus.retn == 1 ? 'ВКЛ' : 'ВЫКЛ', 'gear', {'radiomenu' : "1", 'op' : (data.mulebot.botstatus.retn==1 ? "retoff" : "reton")}, null, 'pdalink fixedLeftWidest')}}
			</div>
		</div>
		<div class="item">
			<div class="itemLabel">
				<span class="good">Авто загрузка:</span>
			</div>
			<div class="itemContent">
				{{:helper.link(data.mulebot.botstatus.pick==1? 'ВКЛ' : 'ВЫКЛ', 'gear', {'radiomenu' : "1", 'op' : (data.mulebot.botstatus.pick==1 ? "pickoff" : "pickon")}, null, 'pdalink fixedLeftWidest')}}
			</div>
		</div>
		<div class="item">
			<div class="itemLabel">
				<span class="good">Функции:</span>
			</div>
			<div class="itemContent">
				{{:helper.link('Стоп', 'gear', {'radiomenu' : "1", 'op' : "stop"}, null, 'pdalink fixedLeft')}}
				{{:helper.link('Продолжить', 'gear', {'radiomenu' : "1", 'op' : "start"}, null, 'pdalink fixedLeft')}}
				{{:helper.link('Вернуть домой', 'gear', {'radiomenu' : "1", 'op' : "home"}, null, 'pdalink fixedLeft')}}
			</div>
		</div>
	{{/if}}
{{/if}}
