<!--
Title: PDA Status Display UI
Used In File(s): \code\game\objects\items\devices\PDA\cart_apps.dm
 -->
<div class="item">
	<div class="itemLabel">
		<b>Код</b>:
	</div>
	<div class="itemContent">
		{{:helper.link('Очистить', 'trash', {'choice' : "Status", 'statdisp' : "blank"}, null, 'pdalink fixedLeftWide')}}
		{{:helper.link('ETA шаттла', 'gear', {'cartmenu' : "1", 'choice' : "Status", 'statdisp' : "shuttle"}, null, 'pdalink fixedLeftWide')}}
		{{:helper.link('Сообщение', 'gear', {'choice' : "Status", 'statdisp' : "message"}, null, 'pdalink fixedLeftWide')}}
	</div>
</div>
<br>
<div class="item">
	<div class="itemLabel">
		<b>Строка сообщения 1</b>
	</div>
	<div class="itemContent">
		{{:helper.link(data.records.message1 + ' (установить)', 'pencil', {'choice' : "Status", 'statdisp' : "setmsg1"}, null, 'pdalink fixedLeftWide')}}
	</div>
</div>
<div class="item">
	<div class="itemLabel">
		<b>Строка сообщения 2</b>
	</div>
	<div class="itemContent">
		{{:helper.link(data.records.message2 + ' (установить)', 'pencil', {'choice' : "Status", 'statdisp' : "setmsg2"}, null, 'pdalink fixedLeftWide')}}
	</div>
</div>

<br>
<div class="item">
	<div class="itemLabel">
		<b> УГРОЗА!</b>:
	</div>
	<div class="itemContent">
		{{:helper.link('Нет', 'bell', {'choice' : "Status", 'statdisp' : "alert", 'alert' : "default"}, null, 'pdalink fixedLeftWide')}}
		{{:helper.link('Красная угроза', 'bell', {'choice' : "Status", 'statdisp' : "alert", 'alert' : "redalert"}, null, 'pdalink fixedLeftWide')}}
		{{:helper.link('Локдаун', 'exclamation-circle', {'choice' : "Status", 'statdisp' : "alert", 'alert' : "lockdown"}, null, 'pdalink fixedLeftWide')}}
		{{:helper.link('Биологическая опасность', 'exclamation-circle', {'choice' : "Status", 'statdisp' : "alert", 'alert' : "biohazard"}, null, 'pdalink fixedLeftWide')}}
	</div>
</div>
