{{if !data.records}}
	<div class="item">
		<div class="itemLabel">Выберите записи:</div>
	</div>
	{{for data.recordsList}}
		<div class="item">
			 {{:helper.link(value.Name, 'user', {'choice' : "Records", 'target' : value.ref}, null, 'pdalink fixedLeftWidest')}}
		</div>
	{{empty}}
		<div class="item">
			 <span class="average">Записи не найдены.</span>
		</div>
	{{/for}}
{{else}}
	<div class="statusDisplayRecords">
		<div class="item">
			<div class="itemContent" style="width: 100%;">
				{{if data.records.general}}
					<span class="good">Имя: </span> <span class="average"> {{:data.records.general.name}}</span><br>
					<span class="good">Пол: </span>  <span class="average">{{:data.records.general.sex}} </span><br>
					<span class="good">Раса: </span> <span class="average">{{:data.records.general.species}} </span><br>
					<span class="good">Возраст: </span>  <span class="average">{{:data.records.general.age}} </span><br>
					<span class="good">Ранг: </span>  <span class="average">{{:data.records.general.rank}} </span><br>
					<span class="good">Отпечаток:  </span> <span class="average">{{:data.records.general.fingerprint}} </span><br>
					<span class="good">Физический статус:  </span> <span class="average">{{:data.records.general.p_stat}} </span><br>
					<span class="good">Ментальный статус:  </span> <span class="average">{{:data.records.general.m_stat}} </span><br><br>
				{{else}}
					<span class="bad">
						Основная запись потеряна!<br><br>
					</span>
				{{/if}}
				{{if data.records.security}}
					<div class="item">
						<div class="itemLabelWide">Данные Службы Безопасности:</div>
					</div>
					<span class="good">Преступный статус:  </span><span class="average">{{:data.records.security.criminal}} </span><br><br>
					<span class="good">Неначительные преступления:  </span><span class="average">{{:data.records.security.mi_crim}} </span><br>
					<span class="good">Детали:  </span><span class="average">{{:data.records.security.mi_crim_d}} </span><br><br>
					<span class="good">Серъёзные преступления:  </span><span class="average">{{:data.records.security.ma_crim}} </span><br>
					<span class="good">Детали:  </span><span class="average">{{:data.records.security.ma_crim_d}} </span><br><br>
					<span class="good">Важные замечания:   </span><span class="average">{{:data.records.security.notes}} </span>
				{{else}}
					<span class="bad">
						Данные Службы Безопасности потеряны!<br><br>
					</span>
				{{/if}}
			</div>
		</div>
	</div>
{{/if}}
