{{if !data.beepsky.active}}
	{{if data.beepsky.count == 0}}
		<H1><span class="bad">Боты не найдены.</span></H1>
	{{else}}
		<div class="item">
			Выберите бота:
		</div>
		<br>
		{{for data.beepsky.bots}}
			<div class="item">
				 {{:helper.link(value.Name, 'gear', {'radiomenu' : "1", 'op' : "control",'bot' : value.ref}, null, 'pdalink fixedLeftWidest')}} (Location: {{:value.Location}})
			</div>
		{{/for}}
	{{/if}}
	<br>
	{{:helper.link('Сканировать ботов','rss', {'radiomenu' : "1", 'op' : "scanbots"}, null, 'pdalink fixedLeftWidest')}}
{{else}}
	<H1><span class="average">{{:data.beepsky.active}}</span></H1>
	{{if data.beepsky.botstatus.mode == -1}}
		<H1><span class="bad">Ожидание ответа...</span></H1>
	{{else}}
		<H1><span class="good">Статус:</span></H1>
		<div class="item">
			<div class="itemLabel">
				<span class="good">Местоположение:</span>
			</div>
			<div class="itemContent">
				<span class="average">{{:data.beepsky.botstatus.loca}}</span>
			</div>
		</div>
		<div class="item">
			<div class="itemLabel">
				<span class="good">Режим:</span>
			</div>
			<div class="itemContent">
				<span class="average">
					{{if data.beepsky.botstatus.mode ==0}}
						Готов
					{{else data.beepsky.botstatus.mode == 1}}
						Преследование цели
					{{else data.beepsky.botstatus.mode ==2 || data.beepsky.botstatus.mode == 3}}
						Арест цели
					{{else data.beepsky.botstatus.mode ==4}}
						Начало патрулирования
					{{else data.beepsky.botstatus.mode ==5}}
						Патрулирование
					{{else data.beepsky.botstatus.mode ==6}}
						Ответ на призыв
					{{/if}}
				</span>
			</div>
		</div>
		<div class="item">
			{{:helper.link('Остановить патруль', 'gear', {'radiomenu' : "1", 'op' : "stop"}, null, 'pdalink fixedLeftWide')}}
			{{:helper.link('Начать патруль', 'gear', {'radiomenu' : "1", 'op' : "go"}, null, 'pdalink fixedLeftWide')}}
			{{:helper.link('Призвать бота', 'gear', {'radiomenu' : "1", 'op' : "summon"}, null, 'pdalink fixedLeftWide')}}
		</div>
	{{/if}}
{{/if}}
