<div class="item">
	<div class="itemLabel">
		<table>
			<tr>
				<td>
					Статус подключения:
				</td>
				{{if data.connected}}
					<td>
						<span class="good">Подключен</span>
					</td>
					<td>
						{{:helper.link('Отключиться', 'sign-out', {'choice': 'Disconnect'})}}
					</td>
				{{else}}
					<td>
						<span class="bad">Нет подключения</span>
					</td>
					<td>
						{{:helper.link('Подключиться', 'sign-in', {'choice': 'Reconnect'})}}
					</td>
				{{/if}}
			</tr>
		</table>
	</div>
</div>
<hr>
<div class="itemLabel">Моя коллекция:</div>
{{if data.no_collection}}
	<div class="statusDisplayRecords">
		<div class="item">
			<span class="average">Ваша коллекция пуста! Идите ловить Nano-мобов!</span>
		</div>
	</div>
	<br>
	Пойманные дикие мобы: {{:data.wild_captures}}
{{else}}
	<div class="statusDisplayRecords">
		<div class="item">
			<div class="itemContent" style="width: 100%;">
				{{if data.entry}}
					{{if data.entry.nickname}}
						<span class="good">Имя: </span> <span class="average"> {{:data.entry.nickname}}</span><br>
					{{/if}}
					<span class="good">Раса: </span> <span class="average">{{:data.entry.real_name}} </span><br>
					<span class="good">Уровень: </span>  <span class="average">{{:data.entry.level}} </span><br>
					<span class="good">Основной тип: </span>  <span class="average">{{:data.entry.type1}} </span><br>
					{{if data.entry.type2}}
						<span class="good">Второстепенный тип: </span>  <span class="average">{{:data.entry.type2}} </span><br>
					{{/if}}
					{{if data.entry.sprite}}
						<img src='{{:data.entry.sprite}}'>
					{{else}}
						<span class="bad">Изображение моба отсутствует!</span>
					{{/if}}
				{{else}}
					<span class="bad">
						Данные о мобе отсутствуют!<br><br>
					</span>
				{{/if}}
			</div>
		</div>
	</div>
	<br>
	Пойманные дикие мобы: {{:data.wild_captures}}
	<div class="item">
		<table>
			<tr>
				<td>
					{{:helper.link('Предыдущий моб', 'arrow-left', {'choice': 'Prev'})}}
				</td>
				<td>
					{{:helper.link('Перенести моба', 'exchange', {'choice': 'Transfer'})}}
				</td>
				<td>
					{{:helper.link('Переименовать моба', 'pencil', {'choice': 'Rename'})}}
				</td>
				<td>
					{{:helper.link('Отпустить моба', 'tree', {'choice': 'Release'})}}
				</td>
				<td>
					{{:helper.link('Следующий моб', 'arrow-right', {'choice': 'Next'})}}
				</td>
			</tr>
		</table>
		{{if data.entry.is_hacked}}
			<br>
			{{:helper.link('Установить ловушку', 'bolt', {'choice': 'Set_Trap'})}}
		{{/if}}
	</div>
{{/if}}
