<!--
Title: PDA Messenger UI
Used In File(s): \code\game\objects\items\devices\PDA\core_apps.dm
 -->
{{if data.active_conversation}}
	<div class="item">
		<div class="itemLabel">
			<b>Функции мессенджера</b>:
		</div>
		<div class ="itemContent">
			{{:helper.link('Удалить диалог', 'trash', {'choice' : "Clear", 'option' : "Convo"}, null, 'pdalink fixedLeftWide')}}
			{{:helper.link(data.auto_scroll ? 'Автоскролл: Вкл' : 'Автоскролл: Выкл', 'level-down', {'choice' : "Autoscroll"}, null, 'pdalink fixedLeftWide')}}
		</div>
	</div>
	<br>
	<br>
	<H3>Диалог с:&nbsp;<span class="average">{{:data.convo_name}}&nbsp;({{:data.convo_job}})</span></H3>
	<div class="statusDisplay" style="overflow: auto;">
		<div class="item">
			<div class="itemContent" style="width: 100%;">
				{{for data.messages}}
					{{if data.active_conversation == value.target}}
						{{if value.sent==0}}
							<span class="average"><B>Собеседник</B>: {{:value.message}}</span><br>
						{{else}}
							<span class="good"><B>Вы</B>: {{:value.message}}</span><br>
						{{/if}}
					{{/if}}
				{{/for}}
			</div>
		</div>
	</div>
	{{:helper.link('Ответить', 'comment', {'choice' : "Message", 'target': data.active_conversation}, null, 'pdalink fixedLeftWidest')}}
	<script>
		$(function() {
			{{if data.auto_scroll && data.latest_post != data.messages.length}}
				var body = document.body;
				$('html,body').animate({scrollTop: body.scrollHeight}, "fast");
			{{/if}}
		});
	</script>
{{else}}
	<div class="item">
		<div class="itemLabelNarrow">
			<b>Messenger Functions</b>:
		</div>
		<div class ="itemContent">
			{{:helper.link(data.silent==1 ? 'Звуки: Выкл' : 'Звуки: Вкл', data.silent==1 ? 'volume-off' : 'volume-up', {'choice' : "Toggle Ringer"}, null, 'pdalink fixedLeftWide')}}
			{{:helper.link(data.toff==1 ? 'Мессенджер: Выкл' : 'Мессенджер: Вкл',data.toff==1 ? 'close':'check', {'choice' : "Toggle Messenger"}, null, 'pdalink fixedLeftWide')}}
			{{:helper.link('Установить рингтон', 'bell-o', {'choice' : "Ringtone"}, null, 'pdalink fixedLeftWide')}}
			{{:helper.link('Удалить диалоги', 'trash', {'choice' : "Clear", 'option' : "All"}, null, 'pdalink fixedLeftWider')}}
		</div>
	</div>
	{{if data.toff == 0}}
		<br>
		{{if data.charges}}
			<div class="item">
				<b>{{:data.charges}} зарядов осталось.</b>
				<br><br>
			</div>
		{{/if}}

		{{if !data.convopdas.length && !data.pdas.length}}
			<b>Другие КПК не обнаружены</b>
		{{else}}
			<H3>Текущие диалоги</H3>
			{{for data.convopdas}}
				<div class="item">
					{{:helper.link(value.Name, 'arrow-circle-down', {'choice' : "Select Conversation", 'convo' : value.Reference } , null, 'pdalink')}}
					{{if data.charges}}
						{{for data.plugins : plugin : i}}
							{{:helper.link(plugin.name, plugin.icon, {'choice' : "Messenger Plugin", 'plugin' : plugin.ref, 'target' : value.Reference}, null, 'pdalink fixedLeft')}}
						{{/for}}
					{{/if}}
				</div>
			{{/for}}
			<H3>Другие КПК</H3>
			{{for data.pdas}}
				<div class="item">
					{{:helper.link(value.Name, 'arrow-circle-down', {'choice' : "Message", 'target' : value.Reference}, null, 'pdalink')}}
					{{if data.charges}}
						{{for data.plugins : plugin : i}}
							{{:helper.link(plugin.name, plugin.icon, {'choice' : "Messenger Plugin", 'plugin' : plugin.ref, 'target' : value.Reference}, null, 'pdalink fixedLeft')}}
						{{/for}}
					{{/if}}
				</div>
			{{/for}}
		{{/if}}
	{{/if}}
{{/if}}
