<!--
Title: Pod Tracking Console
Used In File(s): \code\game\machinery\computer\pod_tracking_console.dm
-->
<style>
h3 {
	padding-top: 0;
}

.refresh {
	 position: absolute;
	 right: 6px;
	 top: 50px;
}
</style>
<div class="refresh">{{:helper.link('Перезагрузить', 'refresh', {'refresh' : 1})}}</div>
<h2>Поды</h2>
{{for data.pods}}
	<hr>
	<div class="item">
		<h3>{{:value.name}}</h3>
		<div class="itemLabel">Пилот</div>
		<div class="itemContent">{{:value.occupant}}</div>
		<div class="itemLabel">Пассажир</div>
		<div class="itemContent">{{:value.occupant2}}</div>
		<div class="itemLabel">Координаты</div>
		<div class="itemContent">{{:value.x}}, {{:value.y}}, {{:value.z}}</div>
	</div>
{{empty}}
	<div class='item'>
		<h3>Трекеры подов не обнаружены.</h3>
	</div>
{{/for}}
