<!--
Title: Pool Controller UI.
Used In File(s): \code\game\machinery\poolcontroller.dm
 -->
<div class="item">
	<div class="itemLabel">
		<b>Текущая температура</b>:
	</div>
	<div class="itemContent">
		<font color={{:data.TempColor}}>{{:helper.capitalizeFirstLetter(data.currentTemp)}}</font>
	</div>
</div>

<div class="item">
	<div class="itemLabel">
		Статус безопасности:
	</div>
	<div class="itemContent">
		{{if data.emagged}}
			<b><font color='red'>ВНИМАНИЕ: ПЕРЕОПРЕДЕЛЁН</font></b>
		{{else}}
			<b><font color='green'>В норме</font></b>
		{{/if}}
	</div>
</div>

<div class="item">
	<div class="itemContent">
		<b>Выбор температуры:</b>
	</div>

	{{if data.emagged}}
		<div class="itemContentWide" style="width: 100%;">
			{{:helper.link('Обжигающая', 'arrow-circle-up', { 'temp' : 'Scalding' }, data.currentTemp == "scalding" ? 'selected' : null)}}
		</div>
	{{/if}}

	<div class="itemContentWide" style="width: 100%;">
		{{:helper.link('Тёплая', 'arrow-circle-up', { 'temp' : 'Warm' }, data.currentTemp == "warm" ? 'selected' : null)}}
	</div>

	<div class="itemContentWide" style="width: 100%;">
		{{:helper.link('Нормальная', 'arrow-circle-right', { 'temp' : 'Normal' }, data.currentTemp == "normal" ? 'selected' : null)}}
	</div>

	<div class="itemContentWide" style="width: 100%;">
		{{:helper.link('Холодная', 'arrow-circle-down', { 'temp' : 'Cool' }, data.currentTemp == "cool" ? 'selected' : null)}}
	</div>

	{{if data.emagged}}
		<div class="itemContentWide" style="width: 100%;">
			{{:helper.link('Ледяная', 'arrow-circle-down', { 'temp' : 'Frigid' }, data.currentTemp == "frigid" ? 'selected' : null)}}
		</div>
	{{/if}}
</div>
