{{if data.menu > 0}}
	<div class='item'>
		{{:helper.link('Главное меню', 'reply', {'menu': 0, 'submenu': 0})}}
		{{if data.submenu > 0}}
			{{if data.menu == 2}}
				{{:helper.link('Меню операций с диском', 'reply', {'submenu': 0})}}
			{{else data.menu == 4}}
				{{:helper.link('Меню протолата', 'reply', {'submenu': 0})}}
			{{else data.menu == 5}}
				{{:helper.link('Меню принтера плат', 'reply', {'submenu': 0})}}
			{{else data.menu == 6}}
				{{:helper.link('Настройки', 'reply', {'submenu': 0})}}
			{{/if}}
		{{else data.menu == 4 || data.menu == 5}}
			{{:helper.link('Хранилище материалов', 'arrow-up', {'submenu': 2})}}
			{{:helper.link('Хранилище химикатов', 'arrow-up', {'submenu': 3})}}
		{{/if}}
	</div>
{{/if}}
<div class='statusDisplay'>
	{{if data.menu == 0}}
		<h3>Главное меню:</h3>
		<div class='line'>{{:helper.link('Меню операций с диском', 'save', {'menu': 2, 'submenu': 0}, data.disk_type ? null : 'disabled')}}</div>
		<div class='line'>{{:helper.link('Меню деструктивного анализатора', 'chain-broken', {'menu': 3, 'submenu': 0}, data.linked_destroy ? null : 'disabled')}}</div>
		<div class='line'>{{:helper.link('Меню протолата', 'print', {'menu': 4, 'submenu': 0}, data.linked_lathe ? null : 'disabled')}}</div>
		<div class='line'>{{:helper.link('Меню принтера плат', 'print', {'menu': 5, 'submenu': 0}, data.linked_imprinter ? null : 'disabled')}}</div>
		<div class='line'>{{:helper.link('Настройки', 'gear', {'menu': 6, 'submenu': 0})}}</div>
		<br>
		<br>
		Текущие уровни исследований:
		{{for data.tech_levels}}
		<div class='line'><div class='itemLabel'>{{:value.name}}:</div>{{:value.level}}</div>
		{{/for}}
	{{else data.menu == 1}}
		<h3>Текущие уровни исследований:</h3>
		{{for data.tech_levels}}
			{{if index > 0}}
				<hr>
			{{/if}}
			<div class='line'>{{:value.name}}</div>
			<div class='line'>* Уровень: {{:value.level}}</div>
			<div class='line'>* Сводка: {{:value.desc}}</div>
		{{/for}}
	{{else data.menu == 2 && data.disk_type}}
		{{if data.submenu == 0}}
			<h3>Содержание диска с данными:</h3>
			{{if data.disk_data}}
				{{if data.disk_type == 1}}
					<div class='line'>Название: {{:data.disk_data.name}}</div>
					<div class='line'>Уровень: {{:data.disk_data.level}}</div>
					<div class='line'>Описание: {{:data.disk_data.desc}}</div>
					{{:helper.link('Загрузить в базу данных', 'arrow-up', {'updt_tech': 1})}}
					{{:helper.link('Очистить диск', 'trash', {'clear_tech': 1})}}
				{{else}}
					<div class='line'>Название: {{:data.disk_data.name}}</div>
					<div class='line'>
						{{for data.disk_data.lathe_types}}
							{{if index == 0}}
								Типы *латов:
							{{else}}
								,
							{{/if}}
							{{:value}}
						{{/for}}
					</div>
					<div class'line'>Требуемые материалы:</div>
					{{for data.disk_data.materials}}
						<div class='line'>{{:value.name}} x {{:value.amount}}</div>
					{{/for}}
					{{:helper.link('Загрузить в базу данных', 'arrow-up', {'updt_design': 1})}}
					{{:helper.link('Очистить диск', 'trash', {'clear_design': 1})}}
				{{/if}}
			{{else}}
				<div class='line'>Данный диск пуст.</div>
				{{:helper.link(data.disk_type == 1 ? 'Записть технологию на диск' : 'Записать дизайн на диск', 'arrow-down', {'submenu': 1})}}
			{{/if}}
			{{:helper.link('Извлечь диск', 'eject', data.disk_type == 1 ? {'eject_tech': 1} : {'eject_design': 1})}}
		{{else data.submenu == 1}}
			{{for data.to_copy}}
				<div class='line'>
					<div class='itemLabel'>{{:value.name}}</div>
					{{:helper.link('Скопировать на диск', 'arrow-down', data.disk_type == 1 ? {'copy_tech': 1, 'copy_tech_ID': value.id} : {'copy_design': 1, 'copy_design_ID': value.id})}}
				</div>
			{{/for}}
		{{/if}}
	{{else data.menu == 3 && !data.linked_destroy}}
		ДЕСТРУКТИВНЫЙ АНАЛИЗАТОР НЕ ПОДКЛЮЧЕН К КОНСОЛИ
	{{else data.menu == 4 && !data.linked_lathe}}
		ПРОТОЛАТ НЕ ПОДКЛЮЧЕН К КОНСОЛИ
	{{else data.menu == 5 && !data.linked_imprinter}}
		ПРИНТЕР ПЛАТ НЕ ПОДКЛЮЧЕН К КОНСОЛИ
	{{else data.menu == 3}}
		{{if !data.loaded_item}}
			Предметы не загружены. Ожидание...
		{{else}}
			<h3>Меню деконструкции:</h3>
			<div class='line'>Название: {{:data.loaded_item.name}}</div>
			<h3>Происхождение технологии:</h3>
			{{for data.loaded_item.origin_tech}}
				<div class='item'>
					<div class='itemLabelWide'>* {{:value.name}}:</div>
					<div class='itemLabelNarrow'>
						{{:value.object_level}}
						{{if value.current_level}}
							(текущий: {{:value.current_level}})
						{{/if}}
					</div>
				</div>
			{{/for}}
			<h3>Опции:</h3>
			{{:helper.link('Деконструировать предмет', 'chain-broken', {'deconstruct': 1})}}
			{{:helper.link('Извлечь предмет', 'eject', {'eject_item': 1})}}
		{{/if}}
	{{else data.menu == 4 || data.menu == 5}}
		{{if data.submenu == 0}}
			<h3>Меню {{:(data.menu == 4 ? 'протолата' : 'принтера плат')}}:</h3>
		{{else data.submenu == 1}}
			<h3>{{:data.category}}:</h3>
		{{else data.submenu == 2}}
			<h3>Хранилище материалов:</h3>
		{{else data.submenu == 3}}
			<h3>Хранилище химикатов:</h3>
		{{/if}}

		{{if data.submenu < 2}}
			<div class='itemLabelWidest'><table>
				<tr>
					<td><b>Количество материалов:</b></td><td>{{:data.total_materials}}</td>
					{{if data.max_materials}}
						<td> / {{:data.max_materials}}</td>
					{{/if}}
				</tr>
				<tr>
					<td><b>Количество химикатов:</b></td><td>{{:data.total_chemicals}}</td>
					{{if data.max_chemicals}}
						<td> / {{:data.max_chemicals}}</td>
					{{/if}}
				</tr>
			</table></div>
		{{/if}}

		{{if data.submenu == 0}}
			<form action='byond://'>
				<input type='hidden' name='src' value='{{:data.src_ref}}'>
				<input type='hidden' name='search' value='1'>
				<input type='text' name='to_search'>
				<input type='submit' value='Search'>
			</form>

			<hr>
			<table class='item'><tr>
				{{for data.categories}}
					{{if (index & 1) == 0 && index != 0}}
						</tr><tr>
					{{/if}}
					<td>{{:helper.link(value, 'arrow-right', {'category': value})}}</td>
				{{/for}}
			</tr></table>
		{{else data.submenu == 1}}
			<table>
				{{for data.matching_designs}}
					<tr>
						<td>{{:helper.link(value.name, 'print', data.menu == 4 ? {'build': value.id, 'amount': 1} : {'imprint': value.id}, value.can_build ? null : 'disabled')}}</td>
						<td>{{if value.can_build >= 5}}
							{{:helper.link('x5', null, data.menu == 4 ? {'build': value.id, 'amount': 5} : {'imprint': value.id})}}
						{{/if}}</td>
						<td>{{if value.can_build >= 10}}
							{{:helper.link('x10', null, data.menu == 4 ? {'build': value.id, 'amount': 10} : {'imprint': value.id})}}
						{{/if}}</td>
						<td>
							{{for value.materials : material : i}}
								 |
								{{if material.is_red}}
									<span class='bad'>
								{{/if}}
								{{:material.amount}} {{:material.name}}
								{{if material.is_red}}
									</span>
								{{/if}}
							{{/for}}
						</td>
					</tr>
				{{/for}}
			</table>
		{{else data.submenu == 2}}
			{{for data.loaded_materials}}
				<div class='item'>
					<div class='itemLabel'>* {{:value.amount}} -> {{:value.name}}</div> <div class='itemLabelNarrow'>({{:Math.round((value.amount / 2000) * 10) / 10}} листов)</div>
					{{if value.amount >= 2000}}
						{{if data.menu == 4}}
							{{:helper.link('1x', 'eject', {'lathe_ejectsheet': value.id, 'lathe_ejectsheet_amt': 1})}}
							{{:helper.link('#', 'eject', {'lathe_ejectsheet': value.id, 'lathe_ejectsheet_amt': 'custom'})}}
							{{if value.amount >= 2000*5}}
								{{:helper.link('5x', 'eject', {'lathe_ejectsheet': value.id, 'lathe_ejectsheet_amt': 5})}}
							{{/if}}
							{{:helper.link('Всё', 'eject', {'lathe_ejectsheet': value.id, 'lathe_ejectsheet_amt': 50})}}
						{{else}}
							{{:helper.link('1x', 'eject', {'imprinter_ejectsheet': value.id, 'imprinter_ejectsheet_amt': 1})}}
							{{:helper.link('#', 'eject', {'imprinter_ejectsheet': value.id, 'imprinter_ejectsheet_amt': 'custom'})}}
							{{if value.amount >= 2000*5}}
								{{:helper.link('5x', 'eject', {'imprinter_ejectsheet': value.id, 'imprinter_ejectsheet_amt': 5})}}
							{{/if}}
							{{:helper.link('Всё', 'eject', {'imprinter_ejectsheet': value.id, 'imprinter_ejectsheet_amt': 50})}}
						{{/if}}
					{{/if}}
				</div>
			{{/for}}
		{{else data.submenu == 3}}
			<div class='item'>

				{{:helper.link('Очистить всё', 'trash', data.menu == 4 ? {'disposeallP': 1} : {'disposeallI' : 1})}}
			</div>
			{{for data.loaded_chemicals}}
				<div class='item'>
					<div class='itemLabel'>* {{:value.volume}} -> {{:value.name}}</div>
					{{:helper.link('Очистить', 'trash', data.menu == 4 ? {'disposeP': value.id} : {'disposeI': value.id})}}
				</div>
			{{/for}}
		{{/if}}
	{{else data.menu == 6}}
		{{if data.submenu == 0}}
			<h3>Settings:</h3>
			<div class='line'>{{:helper.link('Синхронизировать Базу Данных с сетью', 'refresh', {'sync': 1}, data.sync ? null : 'disabled')}}</div>
			<div class='line'>{{:helper.link('Подключиться к исследовательской сети', 'plug', {'togglesync': 1}, data.sync ? 'selected' : null)}}</div>
			<div class='line'>{{:helper.link('Отключиться от исследовательской сети', 'chain-broken', {'togglesync': 1}, data.sync ? null : 'selected')}}</div>
			<div class='line'>{{:helper.link('Меню подключения устройств', 'chain', {'menu': 6, 'submenu': 1})}}</div>
			{{if data.admin}}
				<div class='line'>{{:helper.link('[АДМИН] Максимизировать уровень исследований', 'exclamation', {'maxresearch': 1})}}</div>
			{{/if}}
			<div class='line'>{{:helper.link('Сбросить Базу Данных', 'trash-o', {'reset': 1})}}</div>
		{{else data.submenu == 1}}
			<h3>Device Linkage Menu:</h3>
			<div class='item'>{{:helper.link('Ресинхронизация с ближайшими устройствами', 'chain', {'find_device': 1})}}</div>
			<h3>Linked Devices:</h3>
			<div class='item'>
				{{if data.linked_destroy}}
					<div class='itemLabel'>* Деструктивный анализатор</div>
					{{:helper.link('Отвязать', 'chain-broken', {'disconnect': 'destroy'})}}
				{{else}}
					<div class='itemLabel'>* Деструктивный анализатор не подключен</div>
				{{/if}}
			</div>
			<div class='item'>
				{{if data.linked_lathe}}
					<div class='itemLabel'>* Протолат</div>
					{{:helper.link('Отвязать', 'chain-broken', {'disconnect': 'lathe'})}}
				{{else}}
					<div class='itemLabel'>* Протолат не подключен</div>
				{{/if}}
			</div>
			<div class='item'>
				{{if data.linked_imprinter}}
					<div class='itemLabel'>* Принтер плат</div>
					{{:helper.link('Отвязать', 'chain-broken', {'disconnect': 'imprinter'})}}
				{{else}}
					<div class='itemLabel'>* Принтер плат не подключен</div>
				{{/if}}
			</div>
		{{/if}}
	{{/if}}
</div>

{{if data.wait_message}}
	<div class="mask">
		<div class="maskContent">
			<h1>{{:data.wait_message}}</h1>
		</div>
	</div>
{{/if}}
