<!--
Title: Request Console
Used In File(s): \code\game\machinery\requests_console.dm

#define RCS_MAINMENU 0	// Main men
#define RCS_RQSUPPLY 1	// Request supplies
#define RCS_RQASSIST 2	// Request assistance
#define RCS_SENDINFO 3	// Relay information
#define RCS_SENTPASS 4	// Message sent successfully
#define RCS_SENTFAIL 5	// Message sent unsuccessfully
#define RCS_VIEWMSGS 6	// View messages
#define RCS_MESSAUTH 7	// Authentication before sending
#define RCS_ANNOUNCE 8	// Send announcementu

 -->

{{if data.screen == 1}}
	<div class="item"><h3>Запросить помощь другого отдела</h3></div>
	<table class="block">
	{{for data.assist_dept}}
		{{if value != data.department}}
			<tr>
				<td><div class="itemLabelWidest" align="right">{{:value}} -</div></td>
				<td><div class="item">{{:helper.link('Сообщение', null, { 'write' : value , 'priority' : 1 })}}</div></td>
				<td><div class="item">{{:helper.link('Высокоприоритетное', null, { 'write' : value , 'priority' : 2 })}}</div></td>
			</tr>
		{{/if}}
	{{empty}}
		<tr><td><div class="itemLabel">Нет доступных отделов для запроса помощи.</div></td></tr>
	{{/for}}
	</table><br>
	<div class="item">{{:helper.link('Назад', 'arrow-left', { 'setScreen' : 0 })}}</div>
{{else data.screen == 2}}
	<div class="item"><h3>Запросить поставку из другого отдела</h3></div>
	<table class="block">
	{{for data.supply_dept}}
		{{if value != data.department}}
			<tr>
				<td><div class="itemLabelWidest" align="right">{{:value}} - </div></td>
				<td><div class="item">{{:helper.link('Сообщение', null, { 'write' : value , 'priority' : 1 })}}</div></td>
				<td><div class="item">{{:helper.link('Высокоприоритетное', null, { 'write' : value , 'priority' : 2 })}}</div></td>
			</tr>
		{{/if}}
	{{empty}}
		<tr><td><div class="itemLabel">Нет доступных отделов для запроса на поставку.</div></td></tr>
	{{/for}}
	</table><br>
	<div class="item">{{:helper.link('Назад', 'arrow-left', { 'setScreen' : 0 })}}</div>
{{else data.screen == 3}}
	<div class="item"><h3>Передать информацию другому отделу.</h3></div>
	<table class="block">
	{{for data.info_dept}}
		{{if value != data.department}}
			<tr>
				<td><div class="itemLabelWidest" align="right">{{:value}} -</div></td>
				<td width=70px><div class="item">{{:helper.link('Сообщение', null, { 'write' : value , 'priority' : 1 })}}</div></td>
				<td width=90px><div class="item">{{:helper.link('Высокоприоритетное', null, { 'write' : value , 'priority' : 2 })}}</div></td>
			</tr>
		{{/if}}
	{{empty}}
		<tr><td><div class="itemLabel">Нет доступных отделов для передачи информации.</div></td></tr>
	{{/for}}
	</table><br>
	<div class="item">{{:helper.link('Назад', 'arrow-left', { 'setScreen' : 0 })}}</div>
{{else data.screen == 4}}
	<div class="item"><b>Сообщение успешно отправлено.</b></div>
	<div class="item">{{:helper.link('Продолжить', 'arrow-right', { 'setScreen' : 0 })}}</div>
{{else data.screen == 5}}
	<div class="item"><b>Возникла ошибка. Сообщение не отправлено.</b></div>
	<div class="item">{{:helper.link('Продолжить', 'arrow-right', { 'setScreen' : 0 })}}</div>
{{else data.screen == 6}}
	<div class="statusDisplay" style="overflow: auto;">
		{{for data.message_log}}
			<div class="item">{{:value}}</div>
		{{empty}}
			<div class="item">Входящие сообщения отсутствуют.</div>
		{{/for}}
	</div>
	<div class="item">{{:helper.link('Назад', 'arrow-left', { 'setScreen' : 0 })}}</div>
{{else data.screen == 7}}
	<div class="item"><h2>Аутентификация сообещния</h2></div><br>
	<div class="statusDisplay" style="overflow: auto;">
		<div class="item"><b>Сообщение для {{:data.recipient}}:</b> {{:data.message}}</div>
		<div class="item"><b>Утверждено:</b> {{:data.msgVerified}}</div>
		<div class="item"><b>Проштамповано:</b> {{:data.msgStamped}}</div>
	</div>
	<div class="item">
		{{:helper.link('Отправить сообщение', 'arrow-right', { 'department' : data.recipient })}}
		{{:helper.link('Назад', 'arrow-left', { 'setScreen' : 0 })}}
	</div>
{{else data.screen == 8}}
	<div class="item"><h2>Объявление на всю станцию</h2></div>
	<div class="item"><b>Объявление:</b> {{:data.message}} {{:helper.link('Написать сообщение', 'pencil', { 'writeAnnouncement' : 1 })}}</div>
	<br>
	{{if data.announceAuth}}
		<div class="item"><b>ID верифицировано. Аутентификация принята.</b></div>
	{{else}}
		<div class="item">Проведите вашу ID карту для аутентификации.</div>
	{{/if}}
	<br>
	<div class="item">
		{{:helper.link('Объявить', 'signal', { 'sendAnnouncement' : 1 }, (data.announceAuth && data.message) ? null : 'disabled' )}}
		{{:helper.link('Назад', 'arrow-left', { 'setScreen' : 0 })}}
	</div>
{{else data.screen == 9}}
	<div class="item"><h3>Печать почтовой коробки.</h3></div>
	<div class="statusDisplay" style="overflow: auto;">
		<div class="item"><b>Место назначения:</b> {{:data.shipDest}}</div>
		<div class="item"><b>Утверждено:</b> {{:data.msgVerified}}</div>
		<div class="item">{{:helper.link('Печать коробки', null, { 'printLabel' : 1 })}}</div>
	</div>
	<table class="block">
	{{for data.ship_dept}}
		<tr>
			<td><div class="itemLabelWidest" align="right">{{:value}} -</div></td>
			<td><div class="item">{{:helper.link('Выбрать', null, { 'shipSelect' : value })}}</div></td>
		</tr>
	{{empty}}
		<tr><td><div class="itemLabel">Нет доступных почтовых направлений.</div></td></tr>
	{{/for}}
	</table><br>
	<div class="item">{{:helper.link('Назад', 'arrow-left', { 'setScreen' : 0 })}}</div>
{{else data.screen == 10}}
	<div class="statusDisplay" style="overflow: auto;">
		{{for data.shipping_log}}
			<div class="item">{{:value}}</div>
		{{empty}}
			<div class="item">Нет распечатанных почтовых коробок.</div>
		{{/for}}
	</div>
	<div class="item">{{:helper.link('Назад', 'arrow-left', { 'setScreen' : 0 })}}</div>
{{else}}
	{{if data.newmessagepriority == 1}}
		<div class="item"><font color='red'>Пришли новые сообщения</font></div>
	{{else data.newmessagepriority == 2}}
		<div class="item"><font color='red'><b>НОВОЕ ПРИОРИТЕТНЫЕ СООБЩЕНИЯ</b></font></div>
	{{/if}}
	<div class="item">{{:helper.link('Посмотреть сообщения', data.newmessagepriority ? 'envelope' : 'envelope-o', { 'setScreen' : 6 })}}</div>
	<br>
	<div class="item">{{:helper.link('Запросить помощь', 'gear', { 'setScreen' : 1 })}}</div>
	<div class="item">{{:helper.link('Запросить поставку', 'gear', { 'setScreen' : 2 })}}</div>
	<div class="item">{{:helper.link('Передать анонимную информацию', 'gear', { 'setScreen' : 3})}}</div>
	<br>
	<div class="item">{{:helper.link('Печать почтовой коробки', 'gear', { 'setScreen' : 9})}}</div>
	<div class="item">{{:helper.link('Посмотреть почтовые логи', 'gear', { 'setScreen' : 10})}}</div>
	<br>
	{{if data.announcementConsole}}
		<div class="item">{{:helper.link('Сделать объявление на всю станцию', 'signal', { 'setScreen' : 8})}}</div>
		<br>
	{{/if}}
	<div class="item">{{:helper.link(data.silent ? 'Динамики ВЫКЛ' : 'Динамики ВКЛ', data.silent ? 'volume-off' : 'volume-up', { 'toggleSilent' : 1})}}</div>
{{/if}}
