{{if data.robots}}
	{{if !data.is_ai}}
		<div class='notice'>
			<div class="itemContentSmall" style="width: 180px">
				Аварийное самоуничтожение:
			</div>
			<div class="itemContentFull">
				{{if data.safety}}
					{{:helper.link('ВЗВЕСТИ', 'unlock', {'arm' : 1}, !data.allowed ? 'disabled' : null)}}
					{{:helper.link('ДЕТОНИРОВАТЬ', 'exclamation-circle', {'nuke' : 1}, 'disabled')}}
				{{else}}
					{{:helper.link('НА ПРЕДОХРАНИТЕЛЬ', 'lock', {'arm' : 1}, !data.allowed ? 'disabled' : null)}}
					{{:helper.link('ДЕТОНИРОВАТЬ', 'exclamation-circle', {'nuke' : 1}, !data.allowed ? 'disabled' : null, 'redButton')}}
				{{/if}}
			</div>
			<div class="clearBoth"></div>
		</div>
	{{/if}}
	{{for data.robots}}
		<hr>
		<div class='item'>
			<h2>{{:value.name}}</h2>
			<h3>Информация</h3>
			<span class="itemLabel">
				Статус:
			</span>
			<span class="itemContent">
				{{:value.status}}
			</span>
			<span class="itemLabel">
				Целостность системы:
			</span>
			<span class="itemContent">
				{{:helper.smoothRound(value.health)}}%
			</span>
			<span class="itemLabel">
				Местоположение:
			</span>
			<span class="itemContent">
				({{:value.xpos}}, {{:value.ypos}}, {{:value.zpos}}): {{:value.area}}
			</span>
			<span class="itemLabel">
				Главный ИИ:
			</span>
			<span class="itemContent">
				{{:value.master_ai}}
			</span>
			<span class="itemLabel">
				Модуль:
			</span>
			<span class="itemContent">
				{{:value.module}}
			</span>

			{{if value.hackable}}
				<span class="itemLabel">
					Меры предостарожности:
				</span>
				<span class="itemContent">
					ВКЛЮЧЕНЫ
				</span>
			{{else value.hacked}}
				<span class="itemLabel">
					Меры предостарожности:
				</span>
				<span class="itemContent">
					ОТЧКЛЮЧЕНЫ
				</span>
			{{/if}}
			<h3>Аккумулятор</h3>
			{{if value.cell}}
				<span class="itemLabel">
					Ёмкость:
				</span>
				<span class="itemContent">
					{{:value.cell_capacity}}
				</span>
				{{:helper.displayBar(value.cell_percentage, 0, 100, (value.cell_percentage >= 50) ? 'good' : (value.cell_percentage >= 25) ? 'average' : 'bad')}}
				<b> {{:helper.smoothRound(value.cell_percentage)}}%</b>
			{{else}}
				<b><i>Не установлен</i></b>
				{{:helper.displayBar(100, 0, 100, 'bad')}}
			{{/if}}
			<h3>Действия</h3>
				{{if value.status == "Operational"}}
					{{:helper.link('Блокировка', 'lock', {'lockdown' : value.name}, !data.allowed ? 'disabled' : null)}}
				{{else}}
					{{:helper.link('Разблокировка', 'unlock', {'lockdown' : value.name}, !data.allowed ? 'disabled' : null)}}
				{{/if}}
					{{:helper.link('Самоуничтожение', 'exclamation-circle', {'detonate' : value.name}, !data.allowed ? 'disabled' : null, 'redButton')}}
				{{if value.hackable}}
					{{:helper.link('Взлом', 'calculator', {'hack' : value.name}, !data.allowed ? 'disabled' : null, 'redButton')}}
				{{/if}}
		</div>
	{{/for}}
{{else}}
	<div class='item'>
		<h3>Роботы не найдены.</h3>
	</div>
{{/if}}
