<!--
Title: Shuttle Console
Used In File(s): /code/modules/shuttle/shuttle.dm
-->

<div class='item'>
	<div class='itemLabelWide'>Местоположение:</div>
	<div class='itemContent'>{{:data.status ? data.status : '<span class="bad">*Отсутствует*</span>'}}</div>
</div>
{{if data.shuttle}}
	{{if data.docking_ports_len}}
		<hr>
		<div class='item'>
			{{for data.docking_ports}}
				<div class='line'>{{:helper.link('Отправить на ' + value.name, 'sign-out', {'move' : value.id})}}</div>
			{{/for}}
		</div>
	{{else}}
		<div class='item'>
			<div class='itemLabel'>Статус:</div>
			<div class='itemContent bad'>Шаттл заблокирован
		{{if data.admin_controlled}}
				<span>, только для авторизованного персонала</span>
			</div></div>
			<hr>
			<div class='item'>{{:helper.link('Запросить авторизацию', 'share-square-o', {'request' : 1})}}</div>
		{{else}}
				</div>
			</div>
			<hr>
		{{/if}}
	{{/if}}

	{{if data.docking_request}}
		<div class='line'>{{:helper.link('Запросить стыковку со станцией', 'share-square-o', {'request' : 1})}}</div>
	{{/if}}
{{/if}}
