<div class="item" style="padding-top: 10px">
	<div class="item">
		<div class="itemLabel">
			Давление к камере:
		</div>
		<div class="itemContent">
			{{:helper.displayBar(data.chamber_pressure, 0, 200, (data.chamber_pressure < 80) || (data.chamber_pressure > 120) ? 'bad' : (data.chamber_pressure < 95) || (data.chamber_pressure > 110) ? 'average' : 'good')}}
			<div class="statusValue">
				{{:helper.smoothRound(data.chamber_pressure)}} кПа
			</div>
		</div>
	</div>
</div>
<div class="item" style="padding-top: 10px">
	<div class="item">
		<div class="itemContent" style="width: 100%">
			{{:helper.link('Цикл на выход', 'arrow-circle-o-left', {'command' : 'cycle_ext'}, data.processing ? 'disabled' : null)}}
			{{:helper.link('Цикл на вход', 'arrow-circle-right', {'command' : 'cycle_int'}, data.processing ? 'disabled' : null)}}
		</div>
		<div class="itemContent" style="padding-top: 2px; width: 100%">
		{{if data.interior_status.state == "open"}}
			{{:helper.link('Форсировать внешний шлюз', 'exclamation-triangle', {'command' : 'force_ext'}, null, 'redButton')}}
		{{else}}
			{{:helper.link('Форсировать внешний шлюз', 'exclamation-triangle', {'command' : 'force_ext'}, null, data.processing ? 'yellowButton' : null)}}
		{{/if}}
		{{if data.exterior_status.state == "open"}}
			{{:helper.link('Форсировать внутренний шлюз', 'exclamation-triangle', {'command' : 'force_int'}, null, 'redButton')}}
		{{else}}
			{{:helper.link('Форсировать внутренний шлюз', 'exclamation-triangle', {'command' : 'force_int'}, null, data.processing ? 'yellowButton' : null)}}
		{{/if}}
		</div>
	</div>
	<div class="item" style="padding-top: 10px; width: 100%">
			{{:helper.link('Отмена', 'ban', {'command' : 'abort'}, data.processing ? null : 'disabled', data.processing ? 'redButton' : null)}}
	</div>
</div>
