<!--
Title: Slot Machine UI
Used In File(s): /code/game/machinery/slotmachine.dm
-->
{{if data.money != null}}
	<div class="line">
		{{:data.plays}} игроков испытало удачу сегодня!
	</div>
	<div class="line">
		<div class="statusLabel">Кредитов осталось:</div>
		{{:helper.string("<div class='statusValue {0}'>{1}</div>", data.money >= 10 ? "" : "bad", helper.smoothRound(data.money))}}
	</div>
	<div class="item">
		<div class="statusLabel">
			10 кредитов за игру!
		</div>
		<div class="statusValue">
			{{:helper.link('ВРАЩАТЬ!', 'refresh', {'ops' : 1}, data.money >= 10 && !data.working ? null : 'disabled')}}
		</div>
	</div>
	{{if data.result}}
		<div class="line {{:data.resultlvl}}">
			{{:data.result}}
		</div>
	{{/if}}
	{{if data.working}}
		<div class="notice">Вращение!</div>
	{{/if}}
{{else}}
	<div class="notice">
		Не удаётся сканировать вашу карту или найти аккаунт!<br>
		Пожалуйста, наденьте или держите вашу ID карту и попробуйте снова.
	</div>
{{/if}}
