<div class='item'>
  {{:helper.link('Закрыть', 'gear', {'close' : 1}, null, 'fixedLeft')}}
</div>

<div class="item">
  <h2>Хранилище</h2>
  {{if data.secure}}
    <span class='notice'>
	  {{:data.locked == -1 ? "Без.ный дос_** //):securi_nt.diag=>##'or 1=1'%($..." : "Безопасный доступ: пожалуйста, подготовьте вашу ID карту."}}
    </span>
  {{/if}}
</div>
<div class="item">
  {{if data.can_dry}}
	<div class="itemLabel" style="width: 70%">
		Сушка:
	</div>
	<div class="itemContent" style="width: 30%;">
		{{:helper.link('Вкл', 'power-off', {'dryingOn' : 1}, data.drying ? 'selected' : null)}}{{:helper.link('Выкл', 'close', {'dryingOff' : 1}, data.drying ? null : 'selected')}}
	</div>
  {{/if}}
</div>
<div class='item'>
  {{if data.contents}}
    {{for data.contents}}
      <div class='item'>
        <span class='highlight'>{{:value.display_name}} ({{:value.quantity}} доступно)</span>
        <div class='line' style="float: left;">Выдать:&nbsp;</div> {{:helper.link('x1', 'arrow-circle-down', { "vend" : value.vend, "amount" : 1 }, null, 'statusValue')}}
		{{if value.quantity >= 5}}
			{{:helper.link('x5', 'arrow-circle-down', { "vend" : value.vend, "amount" : 5 }, null, 'statusValue')}}
		{{/if}}
		{{if value.quantity >= 10}}
			{{:helper.link('x10', 'arrow-circle-down', { "vend" : value.vend, "amount" : 10 }, null, 'statusValue')}}
		{{/if}}
		{{if value.quantity >= 25}}
			{{:helper.link('x25', 'arrow-circle-down', { "vend" : value.vend, "amount" : 25 }, null, 'statusValue')}}
		{{/if}}
		{{if value.quantity > 1}}
			{{:helper.link('Всё', 'arrow-circle-down', { "vend" : value.vend, "amount" : value.quantity }, null, 'statusValue')}}
		{{/if}}
      </div>
    {{/for}}
  {{else}}
    <span class='average'>Продукты не загружены.</span>
  {{/if}}
</div>
