{{if data.maskConnected}}
	<div class="noticePlaceholder">Этот баллон подключен к маске.</div>
{{else}}
	<div class="notice">Этот баллон НЕ подключен к маске.</div>
{{/if}}

<div class="item">
	<div class="itemLabel">
		Давление баллона:
	</div>
	<div class="itemContent">
		{{:helper.displayBar(data.tankPressure, 0, 1013, (data.tankPressure > 200) ? 'good' : ((data.tankPressure > 100) ? 'average' : 'bad'))}}
		<div class="statusValue">
			{{:helper.smoothRound(data.tankPressure)}} кПа
		</div>
	</div>
</div>

<div class="item">&nbsp;</div>

<div class="item">
	<div class="itemLabel">
		Давление подачи в маску:
	</div>
	<div class="itemContent">
		{{:helper.displayBar(data.releasePressure, 0, data.maxReleasePressure, (data.releasePressure >= 23) ? null : ((data.releasePressure >= 17) ? 'average' : 'bad'))}}
		<div style="clear: both; padding-top: 4px;">
			{{:helper.link('-', null, {'dist_p' : -10}, (data.releasePressure > 0) ? null : 'disabled')}}
			{{:helper.link('-', null, {'dist_p' : -1}, (data.releasePressure > 0) ? null : 'disabled')}}
			<div style="float: left; width: 80px; text-align: center;">&nbsp;{{:data.releasePressure}} kPa&nbsp;</div>
			{{:helper.link('+', null, {'dist_p' : 1}, (data.releasePressure < data.maxReleasePressure) ? null : 'disabled')}}
			{{:helper.link('+', null, {'dist_p' : 10}, (data.releasePressure < data.maxReleasePressure) ? null : 'disabled')}}
			{{:helper.link('Макс', null, {'dist_p' : 'max'}, (data.releasePressure < data.maxReleasePressure) ? null : 'disabled')}}
			{{:helper.link('Сбросить', null, {'dist_p' : 'reset'}, (data.releasePressure != data.defaultReleasePressure) ? null : 'disabled')}}
		</div>
	</div>
</div>

<div class="item">
	<div class="itemLabel">
		Клапан подачи в маску:
	</div>
	<div class="itemContent">
		{{:helper.link('Открыть', 'unlock', {'stat' : 1}, (!data.maskConnected) ? 'disabled' : (data.valveOpen ? 'selected' : null))}}{{:helper.link('Закрыть', 'lock', {'stat' : 1}, data.valveOpen ? null : 'selected')}}
	</div>
</div>

