<div class='item'>
	<div class='itemLabel'>Раздать:</div>
	<div class='itemContent'>
		{{:helper.link('Плазма (' + helper.smoothRound(data.p_tanks) + ')', data.p_tanks ? 'square' : 'square-o', {'plasma' : 1}, data.p_tanks ? null : 'disabled')}}
		{{:helper.link('Кислород (' + helper.smoothRound(data.o_tanks) + ')', data.o_tanks ? 'square' : 'square-o', {'oxygen' : 1}, data.o_tanks ? null : 'disabled')}}
	</div>
</div>
