<h1>Конфигурация реле</h1>
<div class="item">
	<div class="itemLabel">
		Активность устройства:
	</div>
	<div class="itemContent">
		{{:helper.link(data.active ? 'Включено' : 'Отключено', 'power-off', {'toggle_active' : 1}, null, data.active ? 'selected' : '')}}
	</div>
</div>
<div class="item">
	<div class="itemLabel">
		Сетевой ID:
	</div>
	<div class="itemContent">
		{{:helper.link(data.network_id ? data.network_id : 'Не установлен', 'pencil', {'network_id' : 1}, null, data.network_id ? 'selected' : null)}}
	</div>
</div>
<div class="item">
	<div class="itemLabel">
		Статус соединения:
	</div>
	<div class="itemContent">
		{{if data.linked}}
			<span class="good">Подключено</span>
		{{else}}
			<span class="bad">Разъединено</span>
		{{/if}}
	</div>
</div>

{{if data.linked}}
	<div class="item">
		<div class="itemLabel">
			ID подключенного ядра:
		</div>
		<div class="itemContent">
			{{:data.linked_core_id}}
		</div>
	</div>
	<div class="item">
		<div class="itemLabel">
			Адрес подключенного ядра:
		</div>
		<div class="itemContent">
			{{:data.linked_core_addr}}
		</div>
	</div>
	<div class="item">
		<div class="itemLabel">
			Скрыть подключение:
		</div>
		<div class="itemContent">
			{{:helper.link(data.hidden_link ? 'Да' : 'Нет', data.hidden_link ? 'eye-slash' : 'eye', {'toggle_hidden_link' : 1}, null, data.hidden_link ? 'selected' : null)}}
		</div>
	</div>
	<div class="item">
		<div class="itemLabel">
			Разъединить:
		</div>
		<div class="itemContent">
			{{:helper.link('Разъединить', 'unlink', {'unlink' : 1}, null, 'redButton')}}
		</div>
	</div>
{{else}}
	<style>
		table {
			border-collapse: collapse;
		}

		table,
		td,
		th {
			border: 1px solid #ffffff;
		}
		.infoButton {
			background: none;
			border: none;
		}
	</style>
	<h3>Пожалуйста, выберите ядро для подключения</h3>
	<table style='width: 100%; text-align: center; background-color: #272727;'>
		<colgroup>
			<col span="1" style="width: 35%;">
			<col span="1" style="width: 35%;">
			<col span="1" style="width: 10%;">
			<col span="1" style="width: 20%;">
		</colgroup>
		<thead>
			<tr>
				<th>Сетевой адрес</th>
				<th>Сетевой ID</th>
				<th>Сектор</th>
				<th>Подключение</th>
			</tr>
		</thead>
		<tbody>
			{{for data.entries}}
			<tr>
				<td>{{:value.addr}}</td>
				<td>{{:value.net_id}}</td>
				<td>{{:value.sector}}</td>
				<td>{{:helper.link('Подключить', 'link', {'link' : value.addr}, null, 'infoButton')}}</td>
			</tr>
			{{/for}}
		</tbody>
	</table>
{{/if}}
