{{:helper.link('Конфигурация устройства', 'wrench', {'tab' : "CONFIG"}, data.tab == "CONFIG" ? 'selected' : '')}}
{{:helper.link('Подключенные устройства', 'link', {'tab' : "LINKS"}, data.tab == "LINKS" ? 'selected' : '')}}
{{:helper.link('Фильтрация пользователей', 'user-times', {'tab' : "FILTER"}, data.tab == "FILTER" ? 'selected' : '')}}

{{if data.ion}}
<div class='notice'>
ОШИБКА: Произошла ионосферная перегузка. Пожалуйста, подождите перезагрузки устройства. Это не может выполнено вручную.
</div>
{{/if}}

{{if data.tab == "CONFIG"}}
	<h1>Конфигурация ядра</h1>
	<h3>Статус</h3>
	<div class="item">
		<div class="itemLabel">
			Активность машины:
		</div>
		<div class="itemContent">
			{{:helper.link(data.active ? 'Включена' : 'Отключена', 'power-off', {'toggle_active' : 1}, null, data.active ? 'selected' : '')}}
		</div>
	</div>
	<div class="item">
		<div class="itemLabel">
			Секторы с сигналами телекоммуникации:
		</div>
		<div class="itemContent">
			{{:data.sectors_available}}
		</div>
	</div>
	<h3>Настройки</h3>
	<div class="item">
		<div class="itemLabel">
			Объявление профессии:
		</div>
		<div class="itemContent">
			{{:helper.link(data.nttc_toggle_jobs ? 'Включено' : 'Отключено', 'clipboard', {'nttc_toggle_jobs' : 1}, null, data.nttc_toggle_jobs ? 'selected' : null)}}
		</div>
	</div>
	<div class="item">
		<div class="itemLabel">
			Распределение профессий по отделам:
		</div>
		<div class="itemContent">
			{{:helper.link(data.nttc_toggle_job_color ? 'Включено' : 'Отключено', 'clipboard', {'nttc_toggle_job_color' : 1}, null, data.nttc_toggle_job_color ? 'selected' : null)}}
		</div>
	</div>
	<div class="item">
		<div class="itemLabel">
			Распределение имён по отделам:
		</div>
		<div class="itemContent">
			{{:helper.link(data.nttc_toggle_name_color ? 'Включено' : 'Отключено', 'users', {'nttc_toggle_name_color' : 1}, null, data.nttc_toggle_name_color ? 'selected' : null)}}
		</div>
	</div>
	<div class="item">
		<div class="itemLabel">
			Усиление громкости командования:
		</div>
		<div class="itemContent">
			{{:helper.link(data.nttc_toggle_command_bold ? 'Включено' : 'Отключено', 'volume-up', {'nttc_toggle_command_bold' : 1}, null, data.nttc_toggle_command_bold ? 'selected' : null)}}
		</div>
	</div>
	<h3>Продвинутые</h3>
	<div class="item">
		<div class="itemLabel">
			Формат объявления профессий:
		</div>
		<div class="itemContent">
			{{:helper.link(data.nttc_job_indicator_type ? data.nttc_job_indicator_type : 'Не установлено', 'pencil', {'nttc_job_indicator_type' : 1}, null, data.nttc_job_indicator_type ? 'selected' : null)}}
		</div>
	</div>
	<div class="item">
		<div class="itemLabel">
			Преобразование языка:
		</div>
		<div class="itemContent">
			{{:helper.link(data.nttc_setting_language ? data.nttc_setting_language : 'Не установлено', 'globe', {'nttc_setting_language' : 1}, null, data.nttc_setting_language ? 'selected' : null)}}
		</div>
	</div>
	<div class="item">
		<div class="itemLabel">
			Сетевой ID:
		</div>
		<div class="itemContent">
			{{:helper.link(data.network_id ? data.network_id : 'Не установлен', 'server', {'network_id' : 1}, null, data.network_id ? 'selected' : null)}}
		</div>
	</div>
	<h3>Обслуживание</h3>
	{{:helper.link('Импорт конфигурации', 'sign-in', {'import' : 1})}}
	{{:helper.link('Экспорт конфигурации', 'sign-out', {'export' : 1})}}
{{else data.tab == "LINKS"}}
	<style>
		table {
			border-collapse: collapse;
		}

		table,
		td,
		th {
			border: 1px solid #ffffff;
		}
		.infoButton {
			background: none;
			border: none;
		}
	</style>
	<h1>Подключенные устройства</h1>
	<div class="item">
		<div class="itemLabel">
			Пароль соединения:
		</div>
		<div class="itemContent">
			{{:helper.link(data.link_password ? data.link_password : 'Не установлен', 'lock', {'change_password' : 1}, null, data.link_password ? 'selected' : null)}}
		</div>
	</div>
	<br>
	<table style='width: 100%; text-align: center; background-color: #272727;'>
	    <colgroup>
       		<col span="1" style="width: 35%;">
       		<col span="1" style="width: 35%;">
       		<col span="1" style="width: 10%;">
			<col span="1" style="width: 10%;">
			<col span="1" style="width: 10%;">
    	</colgroup>
		<thead>
			<tr>
				<th>Сетевой адрес</th>
				<th>Сетевой ID</th>
				<th>Сектор</th>
				<th>Статус</th>
				<th>Разъединить</th>
			</tr>
		</thead>
		<tbody>
			{{for data.entries}}
			<tr>
				<td>{{:value.addr}}</td>
				<td>{{:value.net_id}}</td>
				<td>{{:value.sector}}</td>
				<td style={{:value.status_color}}>{{:value.status ? 'Активный' : 'Оффлайн'}}</td>
				<td>{{:helper.link('Разъединить', 'unlink', {'unlink' : value.addr}, null, 'infoButton')}}</td>
			</tr>
			{{/for}}
		</tbody>
	</table>
{{else data.tab == "FILTER"}}
	<style>
		table {
			border-collapse: collapse;
		}

		table,
		td,
		th {
			border: 1px solid #ffffff;
		}
		.infoButton {
			background: none;
			border: none;
		}
	</style>
	<h1>Список фильтрации</h1>
	<div class="item">
		<div class="itemLabel">
			{{:helper.link('Добавить пользователя', 'plus', {'add_filter': 1})}}
		</div>
	</div>
	<br>
	<table style='width: 100%; text-align: center; background-color: #272727;'>
	    <colgroup>
       		<col span="1" style="width: 90%;">
       		<col span="1" style="width: 10%;">
    	</colgroup>
		<thead>
			<tr>
				<th>Имя</th>
				<th>Удалить</th>
			</tr>
		</thead>
		<tbody>
			{{for data.filtered_users}}
			<tr>
				<td>{{:value}}</td>
				<td>{{:helper.link('Удалить', 'times', {'remove_filter' : value}, null, 'infoButton')}}</td>
			</tr>
			{{/for}}
		</tbody>
	</table>
{{/if}}
