<!--
Title: Teleporter Console UI
Used In File(s): \code\game\machinery\teleporter.dm
-->
<h1>Статус телепортатора</h1>
{{if !data.powerstation}}
	<div class="bad">Питание не подключено.</div>
{{else !data.teleporterhub}}
	<div class="bad">Хаб не подключен.</div>
{{else}}
	<div class="block">
		<div class="item">
			<div class="itemLabel">Текущий режим</div>
			<div class="itemContent">{{:data.regime}}</div>
		</div>
		<div class="item">
			<div class="itemLabel">Текущая цель</div>
			<div class="itemContent">{{:data.target}}{{if data.target != "None"}}{{if data.regime == "Gate"}} Телепортатор{{/if}}{{/if}}</div>
		</div>
		<div class="item">
			<div class="itemLabel">Калибровка</div>
			<div class="itemContent">{{if data.calibrating}}<span class="average">Выполняется</span>{{else data.calibrated}}<span class="good">Оптимальная</span>{{else data.accurate > 2}}<span class="good">Оптимальная</span>{{else}}<span class="bad">Субоптимальная</span>{{/if}}</div>
		</div>
	</div>
	<div style="margin-top:10px;" class="item">
		<div class="item">{{:helper.link('Сменить режим', 'gear', {'regimeset': 1})}}</div>
		<div class="item">{{:helper.link('Установить цель', 'gear', {'settarget': 1})}}</div>
	</div>
	<div style="margin-top:10px;" class="item">
		<div class="item">{{:helper.link('Получить цель из памяти', 'arrow-circle-down', {'lock': 1}, data.locked ? '' : 'disabled')}}</div>
		<div class="item">{{:helper.link('Извлечь GPS устройство', 'eject', {'eject': 1}, data.locked ? '' : 'disabled')}}</div>
	</div>
	<div style="margin-top:10px;" class="item">
		<div class="item">{{:helper.link('Калибровать хаб', 'arrows-alt', {'calibrate': 1}, data.target == 'None' ? 'disabled' : '')}}</div>
	</div>
{{/if}}
