<div class="item">
	Управление поведением {{:data.locked ? "заблокировано" : "разблокировано"}}.
</div>
<br>
{{if data.access}}
	{{if !data.screen}}
		<div class="item">
			<div class="itemLabelWide">
				Статус турели:
			</div>
			<div class="itemContentNarrow">
				{{:helper.link('Включить', null, {'command' : 'enable', 'value' : 1}, data.enabled ?'redButton' : null)}}
				{{:helper.link('Отключить',null, {'command' : 'enable', 'value' : 0}, !data.enabled ? 'selected' : null)}}
			</div>
		</div>
		{{if data.accesses}}
			<div class="item">
				<div class="itemLabelWide">
					Требуемый доступ:
				</div>
				<div class="itemContentNarrow">
					{{:helper.link('Модифицировать', null, {'command' : 'screen', 'value' : 1})}}
				</div>
			</div>
		{{/if}}
		{{if data.lethal_control}}
			<div class="item">
				<div class="itemLabelWide">
					Летальный режим:
				</div>
				<div class="itemContentNarrow">
					{{:helper.link('Вкл', null, {'command' : 'lethal', 'value' : 1}, data.lethal ?'redButton' : null)}}
					{{:helper.link('Выкл',null, {'command' : 'lethal', 'value' : 0}, !data.lethal ? 'selected' : null)}}
				</div>
			</div>
		{{/if}}

		{{for data.settings}}
			<div class="item">
				<div class="itemLabelWide">
					{{:value.category}}
				</div>
				<div class="itemContentNarrow">
					{{:helper.link('Вкл', null, {'command' : value.setting, 'value' : 1}, value.value ? 'selected' : null)}}
					{{:helper.link('Выкл',null, {'command' : value.setting, 'value' : 0}, !value.value ? 'selected' : null)}}
				</div>
			</div>
		{{/for}}
	{{else}}
		<div class="item">
			<div class="itemLabelWide">
				Настройки турели:
			</div>
			<div class="itemContentNarrow">
				{{:helper.link('Модифицировать', null, {'command' : 'screen', 'value' : 0})}}
			</div>
		</div>
		<div class="item">
			<div class="itemLabelWide">
				Тип доступа:
			</div>
			<div class="itemContentNarrow">
				{{:helper.link('Весь', null, {'one_access' : 0}, !data.one_access ? 'selected' : null)}}
				{{:helper.link('Один', null, {'one_access' : 1}, data.one_access ? 'selected' : null)}}
			</div>
		</div>
		<h3>Выберите доступ</h3>
		{{for data.accesses}}
			{{:helper.link(value.name, null, {'access' : value.number}, null, value.active ? 'selected' : null)}}
		{{/for}}
	{{/if}}
{{/if}}
